.boxed_container
  .boxed_content.page_content

    .dashboard

      .dashboard--profile
        .dashboard--profile--user
          = image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase.gsub(/\s/,''))}?s=200&d=#{u(localised_root_url+'/..'+image_path('image-user_placeholder.jpg'))}", :class => 'dashboard--profile--user--image'

        .dashboard--profile--details
          .dashboard--profile--details--title= current_user.name
          .dashboard--profile--details--field
            = "#{t( 'dashboard.company' )}:"
            = current_user.company.present? ? current_user.company : 'Not specified'
          .dashboard--profile--details--field
            = "#{t( 'dashboard.country' )}:"
            = Country.new(current_user.country).data.present? ? Country.new(current_user.country).name.capitalize : 'Not specified'
          .dashboard--profile--details--field
            = "#{t( 'dashboard.preferred_language' )}:"
            = options_for_languages[ options_for_languages.index{ |l| l[1] == current_user.prefered_language } ][0]
          .dashboard--profile--details--field
            = "#{t( 'dashboard.current_mail' )}:"
            = current_user.email

          = link_to t( 'edit' ), edit_user_registration_path, :class => 'button dashboard--profile--user--button'

      %table.dashboard--report_table
        %thead
          %tr
            %th.dashboard--report_table--heading= t( 'dashboard.name' )
            %td.dashboard--report_table--heading{ :width => 20 }
            %th.dashboard--report_table--heading{ :width => 180 }= t( 'dashboard.location' )
            %th.dashboard--report_table--heading{ :width => 80 }= t( 'dashboard.date' )
            %th.dashboard--report_table--heading{ :width => 180 }= t( 'dashboard.calculator_type' )
            %th.dashboard--report_table--heading{ :width => 100 }= t( 'dashboard.service' )
            %th.dashboard--report_table--heading{ :width => 0 }

        %tbody
          - @reports.each do |report|
            %tr.dashboard--report_table--row
              %td.dashboard--report_table--cell= report.title
              %td.dashboard--report_table--cell
                - if report.questionnaire[ 'country' ].present?
                  %div{ :class => "flag flag-#{report.questionnaire['country'].downcase}" }
              %td.dashboard--report_table--cell= report.questionnaire[ 'country' ].present? ? Country.new( report.questionnaire["country"] ).name.truncate(13) : ''
              %td.dashboard--report_table--cell= report.created_at.strftime( '%d.%m.%Y' )
              %td.dashboard--report_table--cell= "#{report.level.capitalize} #{report.type.capitalize}"
              %td.dashboard--report_table--cell INSTALLED
              %td.dashboard--report_table--cell
                = link_to t( 'view_report' ), reports_load_path( I18n.locale, report.id ), "data-method" => "post", :class => 'button button-small'
