.boxed_container
  .boxed_content.page_content

    .dashboard

      .dashboard--row
        .dashboard--image
          -#%img{:src => "holder.js/140x140"}
          = image_tag 'user.jpg', style: 'width: 140px'
          = link_to edit_user_registration_path do
            = image_tag 'setting-icon.png', class: 'setting-button'
        .dashboard--details
          %p.details--row.details--row-name
            = current_user.name.titleize
          %p.details--row
            Company:
            %strong= current_user.company
          %p.details--row
            Country:
            %strong=  Country.new(current_user.country).data.present? ? Country.new(current_user.country).name.capitalize : "NOT SPECIFIED"
          %p.details--row
            Prefered Language:
            %strong= current_user.prefered_language
          %p.details--row
            Contact Mail:
            %strong= current_user.email.upcase

        .dashboard--row
          .dashboard--links
            = link_to 'START A BASIC CALCULATOR', calculators_path, class: 'large button expand button-landing-page button-landing-page-size radius centered'
            = link_to 'START AN ADVANCED CALCULATOR (COMING SOON)', 'http://blog.washcost.org/', class: 'large button expand button-landing-page button-landing-page-size radius'
      .row
        %br
        %br
      .row
        .reports
          %table
            %tr.text-left.head
              %th{width: 200} NAME
              %th{width: 200} LOCATION
              %th{width: 150} DATE
              %th{width: 300} CALCULATOR TYPE
              %th{width: 100} SERVICE
              %th{width: 200} FINAL REPORT

            - current_user.basic_questionnaires.each do |basic_questionnaire|
              %tr.content-report
                %td
                  = basic_questionnaire.title.upcase
                %td{valign: :middle}
                  .row
                    - if basic_questionnaire.form["country"].present?
                      .large-3.columns.country-flag
                        .flag{class: "flag-#{basic_questionnaire.form["country"].downcase}"}
                      .large-9.columns.country-name
                        .country= Country.new(basic_questionnaire.form["country"]).name.truncate(13).upcase
                    -else
                      .large-3.columns
                        .flag
                      .large-9.columns
                        .country NN
                %td
                  .date
                    = basic_questionnaire.created_at
                %td
                  .row.text-center
                    .large-12.columns
                      .tool_name=  "#{basic_questionnaire.tool_name.upcase} | "
                      .percent= " BASIC TOOL (#{basic_questionnaire.percent_completed}%)"
                %td
                  .service INSTALLED
                %td= link_to 'VIEW REPORT', basic_report_load_path(id_questionnaire: basic_questionnaire.id), "data-method" => "post", class: 'view_report'

            - @reports.each do |report|
              %tr.content-report
                %td
                  = report.title
                %td{valign: :middle}
                  .row
                    - if report.questionnaire["country"].present?
                      .large-3.columns.country-flag
                        .flag{class: "flag-#{report.questionnaire["country"].downcase}"}
                      .large-9.columns.country-name
                        .country= Country.new(report.questionnaire["country"]).name.truncate(13).upcase
                    -else
                      .large-3.columns
                        .flag
                      .large-9.columns
                        .country NN
                %td
                  .date
                    = report.created_at
                %td
                  .row.text-center
                    .large-12.columns
                      .tool_name=  "#{report.level.upcase} | #{report.type.upcase}"
                %td
                  .service INSTALLED
                %td= link_to 'VIEW REPORT', reports_load_path( report.id ), "data-method" => "post", class: 'view_report'
