= content_for :title do
  Start

.questionnaire

  = form_for @questionnaire, :url => advanced_water_action_url( I18n.locale, 'context' ), :class => 'dual_column_form' do |f|

    .dual_column_form--row

      .dual_column_form--column
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :water_system_exists, t( 'form.advanced.water.water_system_exists.label' ), :class => 'dual_column--field--label'
          = f.select :water_system_exists, options_for_select( options_for_water_system_exists, flash[:country_code]), { :include_blank=> t( 'form.advanced.water.water_system_exists.placeholder' ) }, { :class => 'dual_column_form--field--dropdown chzn-select' }

      .dual_column_form--column
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :country, t( 'form.advanced.shared.country.label' ), :class => 'dual_column--field--label'
          = f.select :country, options_for_select( get_countries, flash[:country_code]), { :include_blank=> t( 'form.advanced.shared.country.placeholder' ) }, { :class => 'dual_column_form--field--dropdown chzn-select' }

    .dual_column_form--row

      .dual_column_form--column
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :region, t( 'form.advanced.shared.region.label' ), :class => 'dual_column--field--label'
          = f.text_field :region, :class => 'dual_column_form--field--text_input', :placeholder => t( 'form.advanced.shared.region.placeholder' )

      .dual_column_form--column
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :town, t( 'form.advanced.shared.town.label' ), :class => 'dual_column--field--label'
          = f.text_field :town, :class => 'dual_column_form--field--text_input', :placeholder => t( 'form.advanced.shared.town.placeholder' )

    .question--buttons
      = submit_tag((t 'buttons.next'), class: 'button')
