= content_for :title do
  Advanced Report

.report

  .report--header

    .report--header--pretitle= t( 'advanced.water.report.final_report' )
    %h1.report--header--title= t( 'report.summmary' )

    %ul.summary-details
      %li= t( 'report.summary_country' ) + ': '  + GetCountryFromCode(@questionnaire.country)
      %li= t( 'report.summary_year' ) + ': '  + @questionnaire.year_of_expenditure
      %li= t( 'report.summary_currency' ) + ': ' + GetCurrencyFromCode(@questionnaire.currency)

    .report--summary

      - if report_totals_available

        - if report_expenditure_totals_available

          %div{ :class => "report--summary--item report--summary--item-#{summary_columns_for_report( [ report_expenditure_totals_available, report_service_level_summary_available, report_comparison_summary_available ] )}" }
            .report--summary--item--title= t( 'report.expenditure_summary' )

            .report--summary--item--mini_title
              = t( 'report.total_expenditure_for_thirty_years' )
            .report--summary--item--value= report_currency_value_for( @questionnaire.total_expenditure_for_years(30), 0 )
            .report--summary--item--subtitle= t( 'report.number_of_people', :people => @questionnaire.total_population.to_i )

            .report--summary--item--mini_title
              = t( 'report.current_recurrent_expenditure' )
              %span.report--summary--item--mini_title--subtitle= t( 'report.per_person_per_year' )
            .report--summary--item--value= report_currency_value_for( @questionnaire.total_inputted_recurrent_expenditure_per_person_per_year )

            .report--summary--item--mini_title
              = t( 'report.expenditure_surplus_shortfall' )
              %span.report--summary--item--mini_title--subtitle= t( 'report.per_person_per_year' )
            .report--summary--item--value= report_delta_currency_value_for( @questionnaire.total_expenditure_delta_per_person_per_year )
        - if report_service_level_summary_available

          %div{ :class => "report--summary--item report--summary--item-#{summary_columns_for_report( [ report_expenditure_totals_available, report_service_level_summary_available, report_comparison_summary_available ] )}" }
            .report--summary--item--title= t( 'report.service_level_summary' )

            .report--summary--item--value.report--summary--item--value-title= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_all_norms )
            .report--summary--item--subtitle= t( 'report.number_of_people_with_service_meeting_national_standard' )

      - else
        .report--no_data= t( 'report.report_box_no_value' )

      %a.report--summary--edit{ :href => advanced_water_path }= t( 'edit' )

  %section.report--section
    .report--section--title= t('report.cost_of_sustaining_the_service');

    .report--section--edit
      %a.report--section--edit--link{ :href => advanced_water_action_path( I18n.locale, 'technology' ) }= t( 'edit' )

    = render :partial => 'advanced/expenditure_report'

  %section.report--section
    .report--section--title= t('report.affordability_check')

    .report--section--edit
      %a.report--section--edit--link{ :href => advanced_water_action_path( I18n.locale, 'technology' ) }= t( 'edit' )

    = render :partial => 'advanced/affordability_report', :locals => { :page_type => 'water' }

  %section.report--section
    .report--section--title= t('report.service_level_summary')

    .report--section--edit
      %a.report--section--edit--link{ :href => advanced_water_action_path( I18n.locale, 'service_level' ) }= t( 'edit' )

    - if @questionnaire.percentage_of_population_with_defined_service != nil
      - if @questionnaire.percentage_of_population_with_defined_service < 100
        .report--no_data= t( 'report.service_level_population_incomplete' )
      - elsif @questionnaire.percentage_of_population_with_defined_service > 100
        .report--no_data= t( 'report.service_level_population_overcomplete' )

    %table.report--service_level_summary
      %tr
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.accessibility' )
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.quantity' )
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.quality' )
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.reliability' )
      %tbody
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.meets_national_norm' )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_accessibility_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_quantity_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_quality_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_reliability_norms )
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.does_not_meet_national_norm' )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_accessibility_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_quantity_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_quality_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_reliability_norms )
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.no_data' )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_accessibility_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_quantity_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_quality_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_reliability_norms )
