= content_for :title do
  Start

.questionnaire

  = form_for @questionnaire, :url => advanced_water_update_url( I18n.locale, 'system_management' ), :html => { :class => 'dual_column_form', 'data-dynamic_form' => advanced_water_dynamic_update_url( I18n.locale ) } do |f|

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :water_system_exists, t( 'advanced.water.questionnaire.water_system_exists.label' ), :class => 'dual_column--field--label'
          = f.select :water_system_exists, options_for_select( options_for_water_system_exists, @questionnaire.water_system_exists ), { :include_blank=> '' }, { :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.water.questionnaire.water_system_exists.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :country, t( 'advanced.shared.country.label' ), :class => 'dual_column--field--label'
          = f.select :country, options_for_select( get_countries, @questionnaire.country ), { :include_blank=> ''  }, { :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.shared.country.placeholder' ) }

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :currency, t( 'advanced.shared.currency.label' ), :class => 'dual_column--field--label'
          = f.select :currency, options_for_select( options_for_currencies, @questionnaire.currency ), { :include_blank=> ''  }, { :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.shared.currency.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :year_of_expenditure, t( 'advanced.shared.year_of_expenditure.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_water_questionnaire[year_of_expenditure]', @questionnaire.year_of_expenditure != t( 'advanced.shared.dont_know' ) ? @questionnaire.year_of_expenditure : '', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.shared.year_of_expenditure.placeholder' )

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :region, t( 'advanced.shared.region.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_water_questionnaire[region]', @questionnaire.region != t( 'advanced.shared.dont_know' ) ? @questionnaire.region : '', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.shared.region.placeholder' ), 'data-checkbox_toggle-field' => 'region'

        .dual_column_form--field.dual_column_form--field-box
          = check_box_tag 'advanced_water_questionnaire[region_unknown]', t( 'advanced.shared.dont_know' ), @questionnaire.region == t( 'advanced.shared.dont_know' ), { :class => 'dual_column_form--field--checkbox', 'data-checkbox_toggle-checkbox' => 'region' }
          = f.label :region_unknown, :class => 'dual_column--field--label dual_column--field--label-box' do
            .dual_column_form--field--styled_checkbox
            %span.dual_column--field--label-box--content= t( 'advanced.shared.dont_know' )


      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :town, t( 'advanced.shared.town.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_water_questionnaire[town]', @questionnaire.town != t( 'advanced.shared.dont_know' ) ? @questionnaire.town : '', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.shared.town.placeholder' ), 'data-checkbox_toggle-field' => 'town'

        .dual_column_form--field.dual_column_form--field-box
          = check_box_tag 'advanced_water_questionnaire[town_unknown]', t( 'advanced.shared.dont_know' ), @questionnaire.town == t( 'advanced.shared.dont_know' ), { :class => 'dual_column_form--field--checkbox', 'data-checkbox_toggle-checkbox' => 'town' }
          = f.label :town_unknown, :class => 'dual_column--field--label dual_column--field--label-box' do
            .dual_column_form--field--styled_checkbox
            %span.dual_column--field--label-box--content= t( 'advanced.shared.dont_know' )

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :area_type, t( 'advanced.water.questionnaire.area_type.label' ), :class => 'dual_column--field--label'
          = f.select :area_type, options_for_select( options_for_area_type, @questionnaire.area_type ), { :include_blank=> '' }, { :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.water.questionnaire.area_type.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :population_density, t( 'advanced.water.questionnaire.population_density.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_water_questionnaire[population_density]', @questionnaire.population_density != t( 'advanced.shared.dont_know' ) ? @questionnaire.population_density : '', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.population_density.placeholder' ), 'data-checkbox_toggle-field' => 'population_density'

        .dual_column_form--field.dual_column_form--field-box
          = check_box_tag 'advanced_water_questionnaire[population_density_unknown]', t( 'advanced.shared.dont_know' ), @questionnaire.population_density == t( 'advanced.shared.dont_know' ), { :class => 'dual_column_form--field--checkbox', 'data-checkbox_toggle-checkbox' => 'population_density' }
          = f.label :population_density_unknown, :class => 'dual_column--field--label dual_column--field--label-box' do
            .dual_column_form--field--styled_checkbox
            %span.dual_column--field--label-box--content= t( 'advanced.shared.dont_know' )

    .question--buttons
      = submit_tag((t 'buttons.next'), class: 'button')
