= content_for :title do
  Start

.questionnaire

  = form_for @questionnaire, :url => advanced_water_update_url( I18n.locale, 'technology' ), :html => { :class => 'dual_column_form', 'data-dynamic_form' => advanced_water_dynamic_update_url( I18n.locale ) } do |f|

    -# CONTEXT

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :status, t( 'advanced.water.questionnaire.water_system_exists.label' ), :class => 'dual_column--field--label'
          = f.select :status, options_for_select( options_for_water_system_exists, @questionnaire.status ), { :include_blank=> '' }, { :tabindex => '1', :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.water.questionnaire.water_system_exists.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :country, t( 'advanced.shared.country.label' ), :class => 'dual_column--field--label'
          = f.select :country, options_for_select( options_for_countries, @questionnaire.country ), { :include_blank=> ''  }, { :tabindex => '2', :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.shared.country.placeholder' ) }

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :currency, t( 'advanced.shared.currency.label' ), :class => 'dual_column--field--label'
          = f.select :currency, options_for_select( options_for_major_currencies, @questionnaire.currency ), { :include_blank=> ''  }, { :tabindex => '3', :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.shared.currency.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :year_of_expenditure, t( 'advanced.shared.year_of_expenditure.label' ), :class => 'dual_column--field--label'
          = f.select :year_of_expenditure, options_for_select( options_for_years, @questionnaire.year_of_expenditure ), { :include_blank=> ''  }, { :tabindex => '4', :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.shared.year_of_expenditure.placeholder' ) }

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :region, t( 'advanced.shared.region.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_water_questionnaire[region]', @questionnaire.region != t( 'advanced.shared.dont_know' ) ? @questionnaire.region : '', :tabindex => '5', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.shared.region.placeholder' ), 'data-checkbox_toggle-field' => 'region'

        .dual_column_form--field.dual_column_form--field-box
          = check_box_tag 'advanced_water_questionnaire[region_unknown]', t( 'advanced.shared.dont_know' ), @questionnaire.region == t( 'advanced.shared.dont_know' ), { :class => 'dual_column_form--field--checkbox', 'data-checkbox_toggle-checkbox' => 'region' }
          = f.label :region_unknown, :class => 'dual_column--field--label dual_column--field--label-box' do
            %a.dual_column_form--field--styled_checkbox{:tabindex => '6'}
            %span.dual_column--field--label-box--content= t( 'advanced.shared.dont_know' )


      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :town, t( 'advanced.shared.town.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_water_questionnaire[town]', @questionnaire.town != t( 'advanced.shared.dont_know' ) ? @questionnaire.town : '', :tabindex => '7', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.shared.town.placeholder' ), 'data-checkbox_toggle-field' => 'town'

        .dual_column_form--field.dual_column_form--field-box
          = check_box_tag 'advanced_water_questionnaire[town_unknown]', t( 'advanced.shared.dont_know' ), @questionnaire.town == t( 'advanced.shared.dont_know' ), { :class => 'dual_column_form--field--checkbox', 'data-checkbox_toggle-checkbox' => 'town' }
          = f.label :town_unknown, :class => 'dual_column--field--label dual_column--field--label-box' do
            %a.dual_column_form--field--styled_checkbox{:tabindex => '8'}
            %span.dual_column--field--label-box--content= t( 'advanced.shared.dont_know' )

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :area_type, t( 'advanced.water.questionnaire.area_type.label' ), :class => 'dual_column--field--label'
          = f.select :area_type, options_for_select( options_for_area_type, @questionnaire.area_type ), { :include_blank=> '' }, { :tabindex => '9', :class => 'dual_column_form--field--dropdown chzn-select', 'data-placeholder' => t( 'advanced.water.questionnaire.area_type.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :population_density, t( 'advanced.water.questionnaire.population_density.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_water_questionnaire[population_density]', @questionnaire.population_density != t( 'advanced.shared.dont_know' ) ? @questionnaire.population_density : '', :tabindex => '10', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.population_density.placeholder' ), 'data-checkbox_toggle-field' => 'population_density'

        .dual_column_form--field.dual_column_form--field-box
          = check_box_tag 'advanced_water_questionnaire[population_density_unknown]', t( 'advanced.shared.dont_know' ), @questionnaire.population_density == t( 'advanced.shared.dont_know' ), { :class => 'dual_column_form--field--checkbox', 'data-checkbox_toggle-checkbox' => 'population_density' }
          = f.label :population_density_unknown, :class => 'dual_column--field--label dual_column--field--label-box' do
            %a.dual_column_form--field--styled_checkbox{:tabindex => '11'}
            %span.dual_column--field--label-box--content= t( 'advanced.shared.dont_know' )

    -# SYSTEM MANAGEMENT

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50

        .dual_column--field--label= t( 'advanced.water.questionnaire.service_management.label' )

        - options_for_service_management.each_with_index do |option,i|

          .dual_column_form--field.dual_column_form--field-box
            = check_box_tag 'advanced_water_questionnaire[service_management][]', option[1], @questionnaire.service_management.include?( option[1].to_s ), :id => "advanced_water_questionnaire_service_management_#{i}", :class => 'dual_column_form--field--checkbox'
            = f.label "service_management_#{i}", :class => 'dual_column--field--label dual_column--field--label-box' do
              %a.dual_column_form--field--styled_checkbox{:tabindex => '12'}
              %span.dual_column--field--label-box--content= option[0]

        = hidden_field_tag 'advanced_water_questionnaire[service_management][]', ''

      .dual_column_form--column.dual_column_form--column-50

        .dual_column--field--label= t( 'advanced.water.questionnaire.construction_financier.label' )

        - options_for_construction_financier.each_with_index do |option,i|

          .dual_column_form--field.dual_column_form--field-box
            = check_box_tag 'advanced_water_questionnaire[construction_financier][]', option[1], @questionnaire.construction_financier.include?( option[1].to_s ), :id => "advanced_water_questionnaire_construction_financier_#{i}", :class => 'dual_column_form--field--checkbox'
            = f.label "construction_financier_#{i}", :class => 'dual_column--field--label dual_column--field--label-box' do
              %a.dual_column_form--field--styled_checkbox{:tabindex => '13'}
              %span.dual_column--field--label-box--content= option[0]

        = hidden_field_tag 'advanced_water_questionnaire[construction_financier][]', ''

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50

        .dual_column--field--label= t( 'advanced.water.questionnaire.infrastructure_operator.label' )

        - options_for_infrastructure_operator.each_with_index do |option,i|

          .dual_column_form--field.dual_column_form--field-box
            = check_box_tag 'advanced_water_questionnaire[infrastructure_operator][]', option[1], @questionnaire.infrastructure_operator.include?( option[1].to_s ), :id => "advanced_water_questionnaire_infrastructure_operator_#{i}", :class => 'dual_column_form--field--checkbox'
            = f.label "infrastructure_operator_#{i}", :class => 'dual_column--field--label dual_column--field--label-box' do
              %a.dual_column_form--field--styled_checkbox{:tabindex => '14'}
              %span.dual_column--field--label-box--content= option[0]

        = hidden_field_tag 'advanced_water_questionnaire[infrastructure_operator][]', ''

      .dual_column_form--column.dual_column_form--column-50

        .dual_column--field--label= t( 'advanced.water.questionnaire.service_responsbility.label' )

        - options_for_service_responsbility.each_with_index do |option,i|

          .dual_column_form--field.dual_column_form--field-box
            = check_box_tag 'advanced_water_questionnaire[service_responsbility][]', option[1], @questionnaire.service_responsbility.include?( option[1].to_s ), :id => "advanced_water_questionnaire_service_responsbility_#{i}", :class => 'dual_column_form--field--checkbox'
            = f.label "service_responsbility_#{i}", :class => 'dual_column--field--label dual_column--field--label-box' do
              %a.dual_column_form--field--styled_checkbox{:tabindex => '15'}
              %span.dual_column--field--label-box--content= option[0]

        = hidden_field_tag 'advanced_water_questionnaire[service_responsbility][]', ''

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50

        .dual_column--field--label= t( 'advanced.water.questionnaire.standard_enforcer.label' )

        - options_for_standard_enforcer.each_with_index do |option,i|

          .dual_column_form--field.dual_column_form--field-box
            = check_box_tag 'advanced_water_questionnaire[standard_enforcer][]', option[1], @questionnaire.standard_enforcer.include?( option[1].to_s ), :id => "advanced_water_questionnaire_standard_enforcer_#{i}", :class => 'dual_column_form--field--checkbox'
            = f.label "standard_enforcer_#{i}", :class => 'dual_column--field--label dual_column--field--label-box' do
              %a.dual_column_form--field--styled_checkbox{:tabindex => '16'}
              %span.dual_column--field--label-box--content= option[0]

        = hidden_field_tag 'advanced_water_questionnaire[standard_enforcer][]', ''

      .dual_column_form--column.dual_column_form--column-50

        .dual_column--field--label= t( 'advanced.water.questionnaire.rehabilitation_cost_owner.label' )

        - options_for_rehabilitation_cost_owner.each_with_index do |option,i|

          .dual_column_form--field.dual_column_form--field-box
            = check_box_tag 'advanced_water_questionnaire[rehabilitation_cost_owner][]', option[1], @questionnaire.rehabilitation_cost_owner.include?( option[1].to_s ), :id => "advanced_water_questionnaire_rehabilitation_cost_owner_#{i}", :class => 'dual_column_form--field--checkbox'
            = f.label "rehabilitation_cost_owner_#{i}", :class => 'dual_column--field--label dual_column--field--label-box' do
              %a.dual_column_form--field--styled_checkbox{:tabindex => '17'}
              %span.dual_column--field--label-box--content= option[0]

        = hidden_field_tag 'advanced_water_questionnaire[rehabilitation_cost_owner][]', ''

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :annual_household_income, t( 'advanced.water.questionnaire.annual_household_income.label' ), :class => 'dual_column--field--label'
          = f.text_field :annual_household_income, :tabindex => '18', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.annual_household_income.placeholder' ), 'data-checkbox_toggle-field' => 'annual_household_income'

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-dropdown
          = f.label :household_size, t( 'advanced.water.questionnaire.household_size.label' ), :class => 'dual_column--field--label'
          = f.text_field :household_size, :tabindex => '19', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.household_size.placeholder' ), 'data-checkbox_toggle-field' => 'household_size'

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :direct_support_cost, t( 'advanced.water.questionnaire.direct_support_cost.label' ), :class => 'dual_column--field--label'
          = f.text_field :direct_support_cost, :tabindex => '20', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.direct_support_cost.placeholder' )

      .dual_column_form--column.dual_column_form--column-50
        .dual_column_form--field.dual_column_form--field-text_input
          = f.label :indirect_support_cost, t( 'advanced.water.questionnaire.indirect_support_cost.label' ), :class => 'dual_column--field--label'
          = f.text_field :indirect_support_cost, :tabindex => '21', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.indirect_support_cost.placeholder' )

    .question--buttons
      = submit_tag((t 'buttons.next'), class: 'button', tabindex: '22')