.report--outputs

  .report--outputs--item.report--outputs--item-33
    .report--outputs--title= t( 'report.annual_household_income' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_household_income )

  .report--outputs--item.report--outputs--item-33
    .report--outputs--title= t( 'report.household_size' )
    .report--outputs--item--value= report_integer_value_for( @questionnaire.household_size )

  .report--outputs--item.report--outputs--item-33
    .report--outputs--title= t( 'report.annual_household_income_per_person' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_household_income_per_person )

.report--subsection--title
  = t('report.affordability_of_inputted_expenditure_for_actual_users');

= render :partial => 'advanced/affordability_info', :locals => { :annual_expenditure_as_percentage_of_household_users => @questionnaire.total_annual_expenditure_for_actual_users_as_percentage_of_household_income / 100, :page_type => page_type }

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.annual_operational_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_operational_expenditure_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_operational_expenditure_for_actual_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.annual_capital_maintenance_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_actual_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.cost_of_capital' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_cost_of_capital_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_cost_of_capital_for_actual_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.total' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.total_annual_expenditure_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.total_annual_expenditure_for_actual_users_as_percentage_of_household_income )

.report--subsection--title
  = t('report.affordability_of_inputted_expenditure_for_designed_users');


= render :partial => 'advanced/affordability_info', :locals => { :annual_expenditure_as_percentage_of_household_users => @questionnaire.total_annual_expenditure_for_designed_users_as_percentage_of_household_income / 100, :page_type => page_type }

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.annual_operational_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_operational_expenditure_for_designed_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_operational_expenditure_for_designed_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.annual_capital_maintenance_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_designed_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_designed_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.cost_of_capital' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_cost_of_capital_for_designed_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_cost_of_capital_for_designed_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.total' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.total_annual_expenditure_for_designed_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.total_annual_expenditure_for_designed_users_as_percentage_of_household_income )

.report--subsection--title
  = t('report.affordability_of_expected_expenditure_for_actual_users');

= render :partial => 'advanced/affordability_info', :locals => { :annual_expenditure_as_percentage_of_household_users => @questionnaire.total_expected_annual_expenditure_for_actual_users_as_percentage_of_household_income / 100, :page_type => page_type }

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.annual_operational_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_annual_operational_expenditure_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.expected_annual_operational_expenditure_for_actual_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.annual_capital_maintenance_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_annual_capital_maintenance_expenditure_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.expected_annual_capital_maintenance_expenditure_for_actual_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.cost_of_capital' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_annual_cost_of_capital_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.expected_annual_cost_of_capital_for_actual_users_as_percentage_of_household_income )

.report--outputs

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.total' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.total_expected_annual_expenditure_for_actual_users )

  .report--outputs--item.report--outputs--item-50
    .report--outputs--title= t( 'report.percentage_of_household_income' )
    .report--outputs--item--value= report_percentage_value_for( @questionnaire.total_expected_annual_expenditure_for_actual_users_as_percentage_of_household_income )