- if annual_expenditure_as_percentage_of_household_users != nil

  .report--affordability_info

    - affordability = 'affordable' unless annual_expenditure_as_percentage_of_household_users >= 3.0
    - affordability = 'risk' unless annual_expenditure_as_percentage_of_household_users < 3.0 || annual_expenditure_as_percentage_of_household_users > 5.0
    - affordability = 'unaffordable' unless annual_expenditure_as_percentage_of_household_users < 5.0

    .report--affordability_info--traffic_light
      %div{ :class => "report--affordability_info--traffic_light--item #{'report--affordability_info--traffic_light--item-green' unless annual_expenditure_as_percentage_of_household_users >= 3.0}" }
      %div{ :class => "report--affordability_info--traffic_light--item #{'report--affordability_info--traffic_light--item-amber' unless annual_expenditure_as_percentage_of_household_users < 3.0 || annual_expenditure_as_percentage_of_household_users > 5.0}" }
      %div{ :class => "report--affordability_info--traffic_light--item #{'report--affordability_info--traffic_light--item-red' unless annual_expenditure_as_percentage_of_household_users < 5.0}" }

    %div{ :class => "report--affordability_info--verdict report--affordability_info--verdict-#{affordability}" }
      - if annual_expenditure_as_percentage_of_household_users < 3.0
        = t( 'report.affordable' )
      - elsif annual_expenditure_as_percentage_of_household_users >= 3.0 && annual_expenditure_as_percentage_of_household_users < 5.0
        = t( 'report.risk_to_affordability' )
      - else
        = t( 'report.unaffordable' )

    .report--affordability_info--detail= t( "report.afforability_detail.#{affordability}", :percentage => report_percentage_value_for( annual_expenditure_as_percentage_of_household_users ) )

- else

  .report--no_data= t( 'report.report_box_no_value' )