- if report_sustainability_chart_available
  .report--chart{ 'data-chart-type' => 'advanced', 'data-chart-currency' => ( @questionnaire.currency || '' ).upcase, 'data-chart-seeds' => "[#{@questionnaire.operation_expenditure_per_person_per_year},#{@questionnaire.direct_support_cost},#{@questionnaire.capital_maintenance_expenditure_per_person_per_year},#{@questionnaire.total_inputted_recurrent_expenditure_per_person_per_year}]" }

.report--subsection--title
  = t('report.inputted_expenditure');
  %span.report--subsection--subtitle= t('report.per_person_per_year')

.report--outputs

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.operational_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.operation_expenditure_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.capital_maintenance_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.capital_maintenance_expenditure_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.cost_of_capital' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.cost_of_capital_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_direct_support' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.direct_support_cost )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_indirect_support' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.indirect_support_cost )

.report--outputs.report--outputs--total
  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-total= t( 'report.total' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.total_inputted_recurrent_expenditure_per_person_per_year )

.report--subsection--title
  = t('report.expected_expenditure');
  %span.report--subsection--subtitle= t('report.per_person_per_year')

.report--outputs

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.operational_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_operation_expenditure_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.capital_maintenance_expenditure' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_capital_maintenance_expenditure_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.cost_of_capital' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.cost_of_capital_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_direct_support' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_direct_support_cost_per_person_per_year )
    //-= report_currency_value_for( @questionnaire.direct_support_cost )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_indirect_support' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.indirect_support_cost )

.report--outputs.report--outputs--total
  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-total= t( 'report.total' )
    .report--outputs--item--value= report_currency_value_for( @questionnaire.total_expected_expenditure_per_person_per_year )

.report--subsection--title
  = t('report.expenditure_surplus_shortfall');
  %span.report--subsection--subtitle= t('report.per_person_per_year')

.report--outputs

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.operational_expenditure' )
    .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.expected_operation_expenditure_delta_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.capital_maintenance_expenditure' )
    .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.expected_capital_maintenance_expenditure_delta_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.cost_of_capital' )
    .report--outputs--item--value= report_delta_currency_value_for( 0 )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_direct_support' )
    .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.expenditure_of_direct_support_delta_per_person_per_year )

  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_indirect_support' )
    .report--outputs--item--value= report_delta_currency_value_for( 0 )

.report--outputs.report--outputs--total
  .report--outputs--item.report--outputs--item-20
    .report--outputs--title.report--outputs--title-total= t( 'report.total' )
    .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.total_expenditure_delta_per_person_per_year )