.session.pad-session
  .row
    %h5.text-center
      EDIT YOUR ACCOUNT
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .error_caption
        = devise_error_messages!
      .large-6.columns.margin-offset
        .special-textfiled
          = f.input :first_name, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session' }, placeholder: 'Your first name'
        .special-textfiled
          = f.input :company, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session' }, placeholder: 'Your company'
        .special-textfiled
          = f.input :email, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session' }, placeholder: 'Your email'
        .special-textfiled
          = f.input :password, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session' }, placeholder: 'Your password'
      .large-6.large.columns.margin-offset
        .special-textfiled
          = f.input :last_name, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session' }, placeholder: 'Your last name'
        .select-container-simple.special-textfiled
          = f.input :country, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session chzn-select' }, placeholder: 'Your country'
        .select-container-simple.special-textfiled
          = f.input :prefered_language, collection: ['English','Spanish','French'], label: false, include_blank: false, input_html: {class: "chzn-select"}
        .special-textfiled
          = f.input :password_confirmation, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session' }, placeholder: 'Repeat your password'
        .special-textfiled
          = f.input :current_password, :required => false, :autofocus => true, label: false, input_html: { class: 'special_input_session' }, placeholder: 'Your current password'
      .row
        .large-12.columns.margin-offset
          .login-button.right
            = f.button :submit, "Edit", class: 'medium button button-landing-page button-landing-page-size'
            %br
            %br
            = link_to 'back', :back, class:'right'
%br
%br
