.boxed_container.boxed_container
  .boxed_content
    .page_content

      = form_for @user, :url => registration_path( :user ), html: { :class => 'standalone_form' } do |f|

        %h1.standalone_form--heading Edit your account

        = render "devise/shared/messages"
        .standalone_form--message= devise_error_messages!

        .standalone_form--field.standalone_form--field-text
          = f.text_field :first_name, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => 'Your first name'

        .standalone_form--field.standalone_form--field-text
          = f.text_field :last_name, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => 'Your last name'

        .standalone_form--field.standalone_form--field-text
          = f.text_field :email, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => 'Your email', :disabled => true

        .standalone_form--field.standalone_form--field-text
          = f.text_field :company, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => 'Your company'

        .standalone_form--field.standalone_form--field-dropdown
          = f.label :country, { :class => 'standalone_form--field--label' }
          = f.select :country, options_for_select( options_for_countries ), { :include_blank=> '' }, { :class => 'standalone_form--field--input standalone_form--field--input-dropdown chzn-select', 'data-placeholder' => t( 'devise.select_a_country' ) }

        .standalone_form--field.standalone_form--field-dropdown
          = f.label :prefered_language, { :class => 'standalone_form--field--label' }
          = f.select :prefered_language, options_for_select( options_for_languages ), {  }, { :class => "standalone_form--field--input standalone_form--field--input-dropdown chzn-select" }

        .standalone_form--field{ "data-togglecontent" => "true" }
          %a.standalone_form--interstitial_link.standalone_form--promo--link{ :href => "#", "data-togglecontent-link" => "true" } Change your password

          .standalone_form--hidden_content{ "data-togglecontent-content" => "standalone_form--hidden_content-visible" }
            .standalone_form--field.standalone_form--field-text
              = f.password_field :password, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => 'Your password', :disabled => true

            .standalone_form--field.standalone_form--field-text
              = f.password_field :password_confirmation, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => 'Repeat your password', :disabled => true

            .standalone_form--field.standalone_form--field-text
              = f.password_field :current_password, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => 'Your current password', :disabled => true


        .standalone_form--footer
          .standalone_form--buttons
            = f.submit "Update", :class => 'button'

          .standalone_form--links
            = link_to 'Back', :back, :class => 'standalone_form--link'

