.boxed_container.boxed_container-full_height
  .boxed_content
    .page_content

      = form_for @user, :url => registration_path( :user, I18n.locale ), :html => { :class => 'standalone_form' } do |f|

        %h1.standalone_form--heading= t( 'devise.create_account' )

        = render "devise/shared/messages"

        .standalone_form--field.standalone_form--field-text
          = f.text_field :email, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => t( 'devise.email' )

        .standalone_form--field.standalone_form--field-text
          = f.password_field :password, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => t( 'devise.password' )

        .standalone_form--field.standalone_form--field-text
          = f.password_field :password_confirmation, :class => 'standalone_form--field--input standalone_form--field--input-text', :placeholder => t( 'devise.repeat_password' )

        .standalone_form--footer
          .standalone_form--buttons
            = f.submit t( 'devise.register' ), :class => 'button'

          .standalone_form--links
            = render "devise/shared/links"

        / .standalone_form--promo
        /   =t( 'devise.please_visit_washcost_blog_html' )

