.session.pad-session
  .row
    %h2.text-center Sign up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .large-10.large-offset-1.columns
        %div
          = f.input :email
        %div
          = f.input :password
        %div
          = f.input :password_confirmation
        .right= f.button :submit, "Register", class: 'button'
  = render "devise/shared/links"
