= content_for :title do
  Advanced Report

.report

  .report--header

    .report--header--pretitle= t( 'advanced.sanitation.report.final_report' )
    %h1.report--header--title= t( 'report.summmary' )

    .report--summary

      - if report_totals_available

        - if report_expenditure_totals_available

          .report--summary--item
            .report--summary--item--title= t( 'report.expenditure_summary' )

            .report--summary--item--mini_title
              = t( 'report.total_expenditure_for_thirty_years' )
            .report--summary--item--value= report_currency_value_for( @questionnaire.total_expenditure_for_years(30) )
            .report--summary--item--subtitle= t( 'report.number_of_people', :people => @questionnaire.total_population.to_i )

            .report--summary--item--mini_title
              = t( 'report.current_recurrent_expenditure' )
              %span.report--summary--item--mini_title--subtitle= t( 'report.per_person_per_year' )
            .report--summary--item--value= report_currency_value_for( @questionnaire.total_inputted_expenditure_per_person_per_year )

            .report--summary--item--mini_title
              = t( 'report.expenditure_surplus_shortfall' )
              %span.report--summary--item--mini_title--subtitle= t( 'report.per_person_per_year' )
            .report--summary--item--value= report_delta_currency_value_for( @questionnaire.total_expenditure_delta_per_person_per_year )

        - if report_service_level_summary_available

          .report--summary--item
            .report--summary--item--title= t( 'report.service_level_summary' )

            .report--summary--item--value= report_percentage_value_for( @questionnaire.people_with_service_meeting_national_standard )
            .report--summary--item--subtitle= t( 'report.number_of_people_with_service_meeting_national_standard' )

      - else
        .report--no_data= t( 'report.report_box_no_value' )

  %section.report--section
    .report--section--title= t('report.cost_of_sustaining_the_service');

    - if report_sustainability_chart_available
      .report--chart{ 'data-chart-type' => 'advanced', 'data-chart-currency' => ( @questionnaire.currency || '' ).upcase, 'data-chart-seeds' => "[#{@questionnaire.operation_expenditure_per_person_per_year},#{@questionnaire.direct_support_cost_per_person_per_year},#{@questionnaire.capital_maintenance_expenditure_per_person_per_year},#{@questionnaire.total_inputted_expenditure_per_person_per_year}]" }

    .report--subsection--title
      = t('report.inputted_expenditure');
      %span.report--subsection--subtitle= t('report.per_person_per_year');

    .report--outputs

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.operational_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.operation_expenditure_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.capital_maintenance_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.capital_maintenance_expenditure_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.cost_of_capital' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.cost_of_capital_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_direct_support' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.direct_support_cost_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_indirect_support' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.indirect_support_cost_per_person_per_year )

    .report--outputs.report--outputs--total
      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-total= t( 'report.total' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.total_inputted_expenditure_per_person_per_year )

    .report--subsection--title
      = t('report.expected_expenditure');
      %span.report--subsection--subtitle= t('report.per_person_per_year');

    .report--outputs

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.operational_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_operation_expenditure_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.capital_maintenance_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_capital_maintenance_expenditure_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.cost_of_capital' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.cost_of_capital_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_direct_support' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.direct_support_cost_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_indirect_support' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.indirect_support_cost_per_person_per_year )

    .report--outputs.report--outputs--total
      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-total= t( 'report.total' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.total_expected_expenditure_per_person_per_year )

    .report--subsection--title
      = t('report.expenditure_surplus_shortfall');
      %span.report--subsection--subtitle= t('report.per_person_per_year');

    .report--outputs

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.operational_expenditure' )
        .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.expected_operation_expenditure_delta_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.capital_maintenance_expenditure' )
        .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.expected_capital_maintenance_expenditure_delta_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.cost_of_capital' )
        .report--outputs--item--value= report_delta_currency_value_for( 0 )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_direct_support' )
        .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.expenditure_of_direct_support_delta_per_person_per_year )

      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-double= t( 'report.expenditure_of_indirect_support' )
        .report--outputs--item--value= report_delta_currency_value_for( 0 )

    .report--outputs.report--outputs--total
      .report--outputs--item.report--outputs--item-20
        .report--outputs--title.report--outputs--title-total= t( 'report.total' )
        .report--outputs--item--value= report_delta_currency_value_for( @questionnaire.total_expenditure_delta_per_person_per_year )

  %section.report--section
    .report--section--title= t('report.affordability_check');

    .report--outputs

      .report--outputs--item.report--outputs--item-33
        .report--outputs--title= t( 'report.annual_household_income' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_household_income )

      .report--outputs--item.report--outputs--item-33
        .report--outputs--title= t( 'report.household_size' )
        .report--outputs--item--value= report_integer_value_for( @questionnaire.household_size )

      .report--outputs--item.report--outputs--item-33
        .report--outputs--title= t( 'report.annual_household_income_per_person' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_household_income_per_person )

    .report--subsection--title
      = t('report.affordability_of_inputted_expenditure_for_actual_users');

    = render :partial => 'advanced/affordability_info', :locals => { :annual_expenditure_as_percentage_of_household_users => @questionnaire.total_annual_expenditure_for_actual_users_as_percentage_of_household_income }

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.annual_operational_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_operational_expenditure_for_actual_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_operational_expenditure_for_actual_users_as_percentage_of_household_income )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.annual_capital_maintenance_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_actual_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_actual_users_as_percentage_of_household_income )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.cost_of_capital' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_cost_of_capital_for_actual_users )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.total' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.total_annual_expenditure_for_actual_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.total_annual_expenditure_for_actual_users_as_percentage_of_household_income )

    .report--subsection--title
      = t('report.affordability_of_inputted_expenditure_for_designed_users');

    = render :partial => 'advanced/affordability_info', :locals => { :annual_expenditure_as_percentage_of_household_users => @questionnaire.total_annual_expenditure_for_designed_users_as_percentage_of_household_income }

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.annual_operational_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_operational_expenditure_for_designed_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_operational_expenditure_for_designed_users_as_percentage_of_household_income )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.annual_capital_maintenance_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_designed_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.annual_capital_maintenance_expenditure_for_designed_users_as_percentage_of_household_income )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.cost_of_capital' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.annual_cost_of_capital_for_designed_users )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.total' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.total_annual_expenditure_for_designed_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.total_annual_expenditure_for_designed_users_as_percentage_of_household_income )

    .report--subsection--title
      = t('report.affordability_of_expected_expenditure_for_actual_users');

    = render :partial => 'advanced/affordability_info', :locals => { :annual_expenditure_as_percentage_of_household_users => @questionnaire.total_expected_annual_expenditure_for_actual_users_as_percentage_of_household_income }

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.annual_operational_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_annual_operational_expenditure_for_actual_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.expected_annual_operational_expenditure_for_actual_users_as_percentage_of_household_income )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.annual_capital_maintenance_expenditure' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.expected_annual_capital_maintenance_expenditure_for_actual_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.expected_annual_capital_maintenance_expenditure_for_actual_users_as_percentage_of_household_income )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.cost_of_capital' )
        .report--outputs--item--value= report_currency_value_for( 0.00 )

    .report--outputs

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.total' )
        .report--outputs--item--value= report_currency_value_for( @questionnaire.total_expected_annual_expenditure_for_actual_users )

      .report--outputs--item.report--outputs--item-50
        .report--outputs--title= t( 'report.percentage_of_household_income' )
        .report--outputs--item--value= report_percentage_value_for( @questionnaire.total_expected_annual_expenditure_for_actual_users_as_percentage_of_household_income )

  %section.report--section
    .report--section--title= t('report.service_level_summary')

    %table.report--service_level_summary
      %tr
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.accessibility' )
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.use' )
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.reliability' )
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.service_levels.environmental_protection' )
      %tbody
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.meets_national_norm' )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_accessibility_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_use_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_reliability_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_meets_environmental_protection_norms )
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.does_not_meet_national_norm' )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_accessibility_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_use_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_reliability_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_that_does_not_meet_environmental_protection_norms )
        %tr
          %th.report--service_level--cell.report--service_level_summary--heading= t( 'report.no_data' )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_accessibility_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_use_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_reliability_norms )
          %td.report--service_level--cell= report_percentage_value_for( @questionnaire.percentage_of_population_with_unknown_environmental_protection_norms )

  - if service_area_comparison_available

    %section.report--section
      .report--section--title= t('report.comparing_costs_and_services');

      .report--subsection--title
        = t('report.percentile_rank_service_area_expenditure');

      .report--comparison_expenditure
        .report--comparison_expenditure--item
          .report--comparison_expenditure--item--title= t( 'report.capital_expenditure' )
          .report--comparison_expenditure--result
            .report--comparison_expenditure--result--value= report_integer_percentage_value_for( user_capital_expenditure_percentile( 'sanitation' )[0] )
            .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => user_capital_expenditure_percentile( 'sanitation' )[0] }
            .report--comparison_expenditure--result--sample= user_capital_expenditure_percentile( 'sanitation' )[1]
          .report--comparison_expenditure--result
            .report--comparison_expenditure--result--value= report_integer_percentage_value_for( global_capital_expenditure_percentile( 'sanitation' )[0] )
            .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => global_capital_expenditure_percentile( 'sanitation' )[0] }
            .report--comparison_expenditure--result--sample= global_capital_expenditure_percentile( 'sanitation' )[1]
        .report--comparison_expenditure--item
          .report--comparison_expenditure--item--title= t( 'report.recurrent_expenditure' )
          .report--comparison_expenditure--result
            .report--comparison_expenditure--result--value= report_integer_percentage_value_for( user_recurrent_expenditure_percentile( 'sanitation' )[0] )
            .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => user_recurrent_expenditure_percentile( 'sanitation' )[0] }
            .report--comparison_expenditure--result--sample= user_recurrent_expenditure_percentile( 'sanitation' )[1]
          .report--comparison_expenditure--result
            .report--comparison_expenditure--result--value= report_integer_percentage_value_for( global_recurrent_expenditure_percentile( 'sanitation' )[0] )
            .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => global_recurrent_expenditure_percentile( 'sanitation' )[0] }
            .report--comparison_expenditure--result--sample= global_recurrent_expenditure_percentile( 'sanitation' )[1]

        .report--comparison_expenditure--key
          .report--comparison_expenditure--key--item
            .report--comparison_expenditure--key--item--indicator.report--comparison_expenditure--key--item--indicator-yours
            .report--comparison_expenditure--key--item--label= t( 'report.users_data', :name => current_user.name )
          .report--comparison_expenditure--key--item
            .report--comparison_expenditure--key--item--indicator.report--comparison_expenditure--key--item--indicator-all
            .report--comparison_expenditure--key--item--label= t( 'report.all_data' )

      .report--subsection--title
        = t('report.percentile_rank_technology_related_expenditure');

      - @questionnaire.supply_system_technologies.each do |technology|

        .report--comparison_expenditure
          .report--comparison_expenditure--title= options_for_sanitation_technologies[ technology.to_i ][0]

          .report--comparison_expenditure--item
            .report--comparison_expenditure--item--title= t( 'report.capital_expenditure' )
            .report--comparison_expenditure--result
              .report--comparison_expenditure--result--value 75%
              .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => 75 }
              .report--comparison_expenditure--result--sample 8
            .report--comparison_expenditure--result
              .report--comparison_expenditure--result--value 50%
              .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => 50 }
              .report--comparison_expenditure--result--sample 8
          .report--comparison_expenditure--item
            .report--comparison_expenditure--item--title= t( 'report.recurrent_expenditure' )
            .report--comparison_expenditure--result
              .report--comparison_expenditure--result--value 50%
              .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => 50 }
              .report--comparison_expenditure--result--sample 8
            .report--comparison_expenditure--result
              .report--comparison_expenditure--result--value 75%
              .report--comparison_expenditure--result--chart{ 'data-minichart' => 'true', 'data-minichart-percentage' => 75 }
              .report--comparison_expenditure--result--sample 8

          .report--comparison_expenditure--key
            .report--comparison_expenditure--key--item
              .report--comparison_expenditure--key--item--indicator.report--comparison_expenditure--key--item--indicator-yours
              .report--comparison_expenditure--key--item--label= t( 'report.users_data', :name => current_user.name )
            .report--comparison_expenditure--key--item
              .report--comparison_expenditure--key--item--indicator.report--comparison_expenditure--key--item--indicator-all
              .report--comparison_expenditure--key--item--label= t( 'report.all_data' )


