= content_for :title do
  (3 of 3) Service level

.questionnaire

  = form_for @questionnaire, :url => advanced_sanitation_update_url( I18n.locale, 'report' ), :html => { :class => 'dual_column_form', 'data-dynamic_form' => advanced_sanitation_dynamic_update_url( I18n.locale ) } do |f|

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.santitation.questionnaire.service_levels.label' )

      .dual_column_form--column.dual_column_form--column-25
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_name][]', @questionnaire.service_level_name[0], :id => 'advanced_sanitation_questionnaire_service_level_name_1', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_name.placeholder' ), 'data-column_dependency' => 'service_level-1'

      .dual_column_form--column.dual_column_form--column-25
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_name][]', @questionnaire.service_level_name[1], :id => 'advanced_sanitation_questionnaire_service_level_name_2', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_name.placeholder' ), 'data-column_dependency' => 'service_level-2'

      .dual_column_form--column.dual_column_form--column-25
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_name][]', @questionnaire.service_level_name[2], :id => 'advanced_sanitation_questionnaire_service_level_name_3', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_name.placeholder' ), 'data-column_dependency' => 'service_level-3'

      .dual_column_form--column.dual_column_form--column-25
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_name][]', @questionnaire.service_level_name[3], :id => 'advanced_sanitation_questionnaire_service_level_name_4', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_name.placeholder' ), 'data-column_dependency' => 'service_level-4'

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_share][]', @questionnaire.service_level_share[0], :id => 'advanced_sanitation_questionnaire_service_level_share_1', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_share.placeholder' )

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_share][]', @questionnaire.service_level_share[1], :id => 'advanced_sanitation_questionnaire_service_level_share_2', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_share.placeholder' )

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_share][]', @questionnaire.service_level_share[2], :id => 'advanced_sanitation_questionnaire_service_level_share_3', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_share.placeholder' )

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-4' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[service_level_share][]', @questionnaire.service_level_share[3], :id => 'advanced_sanitation_questionnaire_service_level_share_4', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.service_level_share.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.water.questionnaire.national_accessibility_norms.label' )

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-1' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_accessibility_norms][]', options_for_select( options_for_national_accessibility_norms, @questionnaire.national_accessibility_norms[0] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_accessibility_norms_1', 'data-placeholder' => t( 'advanced.water.questionnaire.national_accessibility_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-2' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_accessibility_norms][]', options_for_select( options_for_national_accessibility_norms, @questionnaire.national_accessibility_norms[1] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_accessibility_norms_2', 'data-placeholder' => t( 'advanced.water.questionnaire.national_accessibility_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-3' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_accessibility_norms][]', options_for_select( options_for_national_accessibility_norms, @questionnaire.national_accessibility_norms[2] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_accessibility_norms_3', 'data-placeholder' => t( 'advanced.water.questionnaire.national_accessibility_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-4' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_accessibility_norms][]', options_for_select( options_for_national_accessibility_norms, @questionnaire.national_accessibility_norms[3] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_accessibility_norms_4', 'data-placeholder' => t( 'advanced.water.questionnaire.national_accessibility_norms.placeholder' ) }

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.national_use_norms.label' )

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-1' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_use_norms][]', options_for_select( options_for_national_use_norms, @questionnaire.national_use_norms[0] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_use_norms_1', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_use_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-2' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_use_norms][]', options_for_select( options_for_national_use_norms, @questionnaire.national_use_norms[1] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_use_norms_2', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_use_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-3' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_use_norms][]', options_for_select( options_for_national_use_norms, @questionnaire.national_use_norms[2] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_use_norms_3', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_use_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-4' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_use_norms][]', options_for_select( options_for_national_use_norms, @questionnaire.national_use_norms[3] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_use_norms_4', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_use_norms.placeholder' ) }

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.water.questionnaire.national_reliability_norms.label' )

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-1' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_reliability_norms][]', options_for_select( options_for_national_reliability_norms, @questionnaire.national_reliability_norms[0] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_reliability_norms_1', 'data-placeholder' => t( 'advanced.water.questionnaire.national_reliability_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-2' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_reliability_norms][]', options_for_select( options_for_national_reliability_norms, @questionnaire.national_reliability_norms[1] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_reliability_norms_2', 'data-placeholder' => t( 'advanced.water.questionnaire.national_reliability_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-3' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_reliability_norms][]', options_for_select( options_for_national_reliability_norms, @questionnaire.national_reliability_norms[2] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_reliability_norms_3', 'data-placeholder' => t( 'advanced.water.questionnaire.national_reliability_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-4' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_reliability_norms][]', options_for_select( options_for_national_reliability_norms, @questionnaire.national_reliability_norms[3] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_reliability_norms_4', 'data-placeholder' => t( 'advanced.water.questionnaire.national_reliability_norms.placeholder' ) }

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.national_environmental_protection_norms.label' )

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-1' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_environmental_protection_norms][]', options_for_select( options_for_national_environmental_protection_norms, @questionnaire.national_environmental_protection_norms[0] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_environmental_protection_norms_1', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_environmental_protection_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-2' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_environmental_protection_norms][]', options_for_select( options_for_national_environmental_protection_norms, @questionnaire.national_environmental_protection_norms[1] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_environmental_protection_norms_2', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_environmental_protection_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-3' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_environmental_protection_norms][]', options_for_select( options_for_national_environmental_protection_norms, @questionnaire.national_environmental_protection_norms[2] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_environmental_protection_norms_3', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_environmental_protection_norms.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-25{ 'data-column_dependency-dependent' => 'service_level-4' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[national_environmental_protection_norms][]', options_for_select( options_for_national_environmental_protection_norms, @questionnaire.national_environmental_protection_norms[3] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_national_environmental_protection_norms_4', 'data-placeholder' => t( 'advanced.sanitation.questionnaire.national_environmental_protection_norms.placeholder' ) }

    .question--buttons
      = submit_tag((t 'buttons.view_report'), class: 'button')
