= content_for :title do
  (3 of 5) System Characteristic

.questionnaire

  = form_for @questionnaire, :url => advanced_sanitation_update_url( I18n.locale, 'cost' ), :html => { :class => 'dual_column_form', 'data-dynamic_form' => advanced_sanitation_dynamic_update_url( I18n.locale ) } do |f|

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.supply_system_technologies.label' )

      .dual_column_form--column.dual_column_form--column-33
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[supply_system_technologies][]', options_for_select( options_for_sanitation_technologies, @questionnaire.supply_system_technologies[0] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_supply_system_technologies_1', 'data-placeholder' => t( 'advanced.water.questionnaire.supply_system_technologies.placeholder' ), 'data-column_dependency' => 'technology-1' }

      .dual_column_form--column.dual_column_form--column-33
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[supply_system_technologies][]', options_for_select( options_for_sanitation_technologies, @questionnaire.supply_system_technologies[1] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_supply_system_technologies_2', 'data-placeholder' => t( 'advanced.water.questionnaire.supply_system_technologies.placeholder' ), 'data-column_dependency' => 'technology-2' }

      .dual_column_form--column.dual_column_form--column-33
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[supply_system_technologies][]', options_for_select( options_for_sanitation_technologies, @questionnaire.supply_system_technologies[2] ), { :include_blank => true, :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_supply_system_technologies_3', 'data-placeholder' => t( 'advanced.water.questionnaire.supply_system_technologies.placeholder' ), 'data-column_dependency' => 'technology-3' }

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.systems_number.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[systems_number][]', @questionnaire.systems_number[0], :id => 'advanced_sanitation_questionnaire_systems_number_1', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.systems_number.placeholder' )
          -# .slider--widget.slider-widget-low_profile
          -# = f.hidden_field :systems_number, :value => '100', 'data-slider-input' => 'true', 'data-logarithmic' => 'true', 'data-slider-min' => 100, 'data-slider-max' => 1000000

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[systems_number][]', @questionnaire.systems_number[1], :id => 'advanced_sanitation_questionnaire_systems_number_2', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.systems_number.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[systems_number][]', @questionnaire.systems_number[2], :id => 'advanced_sanitation_questionnaire_systems_number_3', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.systems_number.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.system_population_design.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_design][]', @questionnaire.system_population_design[0], :id => 'advanced_sanitation_questionnaire_system_population_design_1', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_design.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_design][]', @questionnaire.system_population_design[1], :id => 'advanced_sanitation_questionnaire_system_population_design_2', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_design.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_design][]', @questionnaire.system_population_design[2], :id => 'advanced_sanitation_questionnaire_system_population_design_3', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_design.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.system_population_actual.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_actual][]', @questionnaire.system_population_actual[0], :id => 'advanced_sanitation_questionnaire_system_population_actual_1', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_actual.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_actual][]', @questionnaire.system_population_actual[1], :id => 'advanced_sanitation_questionnaire_system_population_actual_2', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_actual.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_actual][]', @questionnaire.system_population_actual[2], :id => 'advanced_sanitation_questionnaire_system_population_actual_3', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_actual.placeholder' )

    .question--buttons
      = submit_tag((t 'buttons.next'), class: 'button')
