= content_for :title do
  (2 of 3) Technology

.questionnaire

  = form_for @questionnaire, :url => advanced_sanitation_update_url( I18n.locale, 'service_level' ), :html => { :class => 'dual_column_form', 'data-dynamic_form' => advanced_sanitation_dynamic_update_url( I18n.locale ) } do |f|

    -# SYSTEM CHARACTERISTICS

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.supply_system_technologies.label' )

      .dual_column_form--column.dual_column_form--column-33
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[supply_system_technologies][]', options_for_select( options_for_sanitation_technologies, @questionnaire.supply_system_technologies[0] ), { :include_blank => true, :tabindex => '1', :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_supply_system_technologies_1', 'data-placeholder' => t( 'advanced.water.questionnaire.supply_system_technologies.placeholder' ), 'data-column_dependency' => 'technology-1' }

      .dual_column_form--column.dual_column_form--column-33
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[supply_system_technologies][]', options_for_select( options_for_sanitation_technologies, @questionnaire.supply_system_technologies[1] ), { :include_blank => true, :tabindex => '13', :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_supply_system_technologies_2', 'data-placeholder' => t( 'advanced.water.questionnaire.supply_system_technologies.placeholder' ), 'data-column_dependency' => 'technology-2' }

      .dual_column_form--column.dual_column_form--column-33
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[supply_system_technologies][]', options_for_select( options_for_sanitation_technologies, @questionnaire.supply_system_technologies[2] ), { :include_blank => true, :tabindex => '25', :class => 'dual_column_form--field--dropdown chzn-select', :id => 'advanced_sanitation_questionnaire_supply_system_technologies_3', 'data-placeholder' => t( 'advanced.water.questionnaire.supply_system_technologies.placeholder' ), 'data-column_dependency' => 'technology-3' }

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.systems_number.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[systems_number][]', @questionnaire.systems_number[0], :id => 'advanced_sanitation_questionnaire_systems_number_1', :tabindex => '2', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.systems_number.placeholder' )
          -# .slider--widget.slider-widget-low_profile
          -# = f.hidden_field :systems_number, :value => '100', 'data-slider-input' => 'true', 'data-logarithmic' => 'true', 'data-slider-min' => 100, 'data-slider-max' => 1000000

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[systems_number][]', @questionnaire.systems_number[1], :id => 'advanced_sanitation_questionnaire_systems_number_2', :tabindex => '14', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.systems_number.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[systems_number][]', @questionnaire.systems_number[2], :id => 'advanced_sanitation_questionnaire_systems_number_3', :tabindex => '26', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.systems_number.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.system_population_design.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_design][]', @questionnaire.system_population_design[0], :id => 'advanced_sanitation_questionnaire_system_population_design_1', :tabindex => '3', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_design.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_design][]', @questionnaire.system_population_design[1], :id => 'advanced_sanitation_questionnaire_system_population_design_2', :tabindex => '15', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_design.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_design][]', @questionnaire.system_population_design[2], :id => 'advanced_sanitation_questionnaire_system_population_design_3', :tabindex => '27', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_design.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.system_population_actual.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_actual][]', @questionnaire.system_population_actual[0], :id => 'advanced_sanitation_questionnaire_system_population_actual_1', :tabindex => '4', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_actual.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_actual][]', @questionnaire.system_population_actual[1], :id => 'advanced_sanitation_questionnaire_system_population_actual_2', :tabindex => '16', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_actual.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[system_population_actual][]', @questionnaire.system_population_actual[2], :id => 'advanced_sanitation_questionnaire_system_population_actual_3', :tabindex => '28', :class => 'dual_column_form--field--text_input', 'data-slider-value' => true, :placeholder => t( 'advanced.water.questionnaire.system_population_actual.placeholder' )

    -# COST

    .dual_column--heading= t( 'advanced.water.questionnaire.cost.capital_costs' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.aggregate_actual_hardware_expenditure.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = label_tag "advanced_sanitation_questionnaire_actual_hardware_expenditure_1", t( 'advanced.water.questionnaire.actual_hardware_expenditure.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_sanitation_questionnaire[actual_hardware_expenditure][]', @questionnaire.actual_hardware_expenditure[0], :id => "advanced_sanitation_questionnaire_actual_hardware_expenditure_1", :tabindex => '5', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.actual_hardware_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = label_tag "advanced_sanitation_questionnaire_actual_hardware_expenditure_2", t( 'advanced.water.questionnaire.actual_hardware_expenditure.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_sanitation_questionnaire[actual_hardware_expenditure][]', @questionnaire.actual_hardware_expenditure[1], :id => "advanced_sanitation_questionnaire_actual_hardware_expenditure_2", :tabindex => '17', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.actual_hardware_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = label_tag "advanced_sanitation_questionnaire_actual_hardware_expenditure_3", t( 'advanced.water.questionnaire.actual_hardware_expenditure.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_sanitation_questionnaire[actual_hardware_expenditure][]', @questionnaire.actual_hardware_expenditure[2], :id => "advanced_sanitation_questionnaire_actual_hardware_expenditure_3", :tabindex => '29', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.actual_hardware_expenditure.placeholder' )

    .dual_column_form--row

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = label_tag "advanced_sanitation_questionnaire_system_lifespan_expectancy_1", t( 'advanced.water.questionnaire.system_lifespan_expectancy.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_sanitation_questionnaire[system_lifespan_expectancy][]', @questionnaire.system_lifespan_expectancy[0], :id => "advanced_sanitation_questionnaire_system_lifespan_expectancy_1", :tabindex => '6', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.system_lifespan_expectancy.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = label_tag "advanced_sanitation_questionnaire_system_lifespan_expectancy_2", t( 'advanced.water.questionnaire.system_lifespan_expectancy.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_sanitation_questionnaire[system_lifespan_expectancy][]', @questionnaire.system_lifespan_expectancy[1], :id => "advanced_sanitation_questionnaire_system_lifespan_expectancy_2", :tabindex => '18', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.system_lifespan_expectancy.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = label_tag "advanced_sanitation_questionnaire_system_lifespan_expectancy_3", t( 'advanced.water.questionnaire.system_lifespan_expectancy.label' ), :class => 'dual_column--field--label'
          = text_field_tag 'advanced_sanitation_questionnaire[system_lifespan_expectancy][]', @questionnaire.system_lifespan_expectancy[2], :id => "advanced_sanitation_questionnaire_system_lifespan_expectancy_3", :tabindex => '30', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.system_lifespan_expectancy.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.sanitation.questionnaire.actual_software_expenditure.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[actual_software_expenditure][]', @questionnaire.actual_software_expenditure[0], :tabindex => '7', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.actual_software_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[actual_software_expenditure][]', @questionnaire.actual_software_expenditure[1], :tabindex => '19', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.actual_software_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[actual_software_expenditure][]', @questionnaire.actual_software_expenditure[2], :tabindex => '31', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.actual_software_expenditure.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.water.questionnaire.unpaid_labour.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[unpaid_labour][]', options_for_select( options_for_unpaid_labour, @questionnaire.unpaid_labour[0] ), { :include_blank => true, :tabindex => '8', :class => 'dual_column_form--field--dropdown chzn-select', :id => "advanced_sanitation_questionnaire_unpaid_labour_1", 'data-placeholder' => t( 'advanced.water.questionnaire.unpaid_labour.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[unpaid_labour][]', options_for_select( options_for_unpaid_labour, @questionnaire.unpaid_labour[1] ), { :include_blank => true, :tabindex => '20', :class => 'dual_column_form--field--dropdown chzn-select', :id => "advanced_sanitation_questionnaire_unpaid_labour_2", 'data-placeholder' => t( 'advanced.water.questionnaire.unpaid_labour.placeholder' ) }

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-dropdown
          = select_tag 'advanced_sanitation_questionnaire[unpaid_labour][]', options_for_select( options_for_unpaid_labour, @questionnaire.unpaid_labour[2] ), { :include_blank => true, :tabindex => '32', :class => 'dual_column_form--field--dropdown chzn-select', :id => "advanced_sanitation_questionnaire_unpaid_labour_3", 'data-placeholder' => t( 'advanced.water.questionnaire.unpaid_labour.placeholder' ) }

    .dual_column--heading= t( 'advanced.water.questionnaire.cost.recurring_costs' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.water.questionnaire.minor_operation_expenditure.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[minor_operation_expenditure][]', @questionnaire.minor_operation_expenditure[0], :tabindex => '9', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.minor_operation_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[minor_operation_expenditure][]', @questionnaire.minor_operation_expenditure[1], :tabindex => '21', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.minor_operation_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[minor_operation_expenditure][]', @questionnaire.minor_operation_expenditure[2], :tabindex => '33', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.minor_operation_expenditure.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.water.questionnaire.capital_maintenance_expenditure.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[capital_maintenance_expenditure][]', @questionnaire.capital_maintenance_expenditure[0], :tabindex => '10', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.capital_maintenance_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[capital_maintenance_expenditure][]', @questionnaire.capital_maintenance_expenditure[1], :tabindex => '22', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.capital_maintenance_expenditure.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[capital_maintenance_expenditure][]', @questionnaire.capital_maintenance_expenditure[2], :tabindex => '34', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.capital_maintenance_expenditure.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.water.questionnaire.loan_cost.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[loan_cost][]', @questionnaire.loan_cost[0], :tabindex => '11', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.loan_cost.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[loan_cost][]', @questionnaire.loan_cost[1], :tabindex => '23', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.loan_cost.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[loan_cost][]', @questionnaire.loan_cost[2], :tabindex => '35', :class => 'dual_column_form--field--text_input', :placeholder => placeholder_currency( 'advanced.water.questionnaire.loan_cost.placeholder' )

    .dual_column_form--row

      .dual_column--field--label= t( 'advanced.water.questionnaire.loan_payback_period.label' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-1' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[loan_payback_period][]', @questionnaire.loan_payback_period[0], :tabindex => '12', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.loan_payback_period.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-2' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[loan_payback_period][]', @questionnaire.loan_payback_period[1], :tabindex => '24', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.loan_payback_period.placeholder' )

      .dual_column_form--column.dual_column_form--column-33{ 'data-column_dependency-dependent' => 'technology-3' }
        .dual_column_form--field.dual_column_form--field-text_input
          = text_field_tag 'advanced_sanitation_questionnaire[loan_payback_period][]', @questionnaire.loan_payback_period[2], :tabindex => '36', :class => 'dual_column_form--field--text_input', :placeholder => t( 'advanced.water.questionnaire.loan_payback_period.placeholder' )

    .question--buttons
      = submit_tag((t 'buttons.next'), class: 'button', tabindex: '37')