- @title = '4 of 9 (Capital Expenditure)'
.row
  .large-12.columns
    .question= t 'form.shared.capital.question'
.row
  .large-12.columns
    .choices-section
      = form_tag({controller: 'water_basic', action: 'capital'}, class: 'main_content sanitation', id: 'waterBasicForm') do
        .choices.slider-section
          .value
            .valueLabel.caption Per person US$
            .valueOutput.slider-output
              %span#capitalValue 0
          #capitalSlider.slider-container.threshold-marks{'data-slider_value' => @capital[:value]}
            .test-cursor
          %ul.labelScale
            %li.first
              %span= "US$ #{@capital[:below_value]}"
            %li.last
              %span= "US$ #{@capital[:above_value]}"
        = hidden_field_tag 'capital', nil, data: {:min_value => @capital[:min_value], :max_value => @capital[:max_value], :below_value => @capital[:below_value], :above_value => @capital[:above_value]}
        .action
          = submit_tag (t 'buttons.next'), class: 'button button-basic-questionnaire'
.info-tab
  %a.tab{:href => '#'} infoTab
  .tab-content
    %h3
    %p= t 'form.shared.capital.info'
