    <% @title = "4 of 9 (Capital Expenditure)" %>

    <h1><%= t 'form.shared.capital.question' %></h1>

    <%= form_tag({controller: "water_basic", action: "capital"}, class: "main_content sanitation", id: "waterBasicForm") do %>

      <div class="choices capitalSlider">
        <div class="value">
            <div class="valueOutput"><span id="capitalValue">0</span>$</div>
            <div class="valueLabel">Per person US$</div>
        </div>
        <div id="capitalSlider" data-slider_value=<%=flash[:capital][:value]%>>
        </div>
        <ul class="labelScale">
          <li class="first">
            <span class="estimate">Below</span>
            <span class="numRounding"><%=(flash[:capital][:min_value].to_f*0.2).round%></span>
          </li>
          <li class="last">
            <span class="estimate">Above</span>
            <span class="numRounding"><%=(flash[:capital][:max_value].to_f*0.8).round%></span>
          </li>
        </ul>
      </div>

        <input type="hidden" name="capital" data-min-value=<%=flash[:capital][:min_value]%>  data-max-value=<%=flash[:capital][:max_value]%> />
        <%= submit_tag((t 'buttons.next'), class: "next_button") %>
        <a class="skip" href="./recurrent">skip this question</a>
    <div class="infoTab">
      <a href="#" class="tab">infoTab</a>
      <div class="tabContent">
        <p><%= t 'form.shared.capital.info' %></p>
      </div>
    </div>

    <% end %>
