= content_for :title do
  Start

.question
  %h1.question--title= t 'form.shared.country.question'

  .question--answer

    .question--image.icon--tool-globe

    = form_tag( { controller: "water_basic", action: "country" }, id: "waterBasicForm" ) do

      .choices-select.text-center
        = select_tag "country", options_for_select( get_countries, flash[:country_code]), :include_blank=>(t 'form.shared.country.placeholder'), :class=>"chzn-select", :tabindex => 1

      .question--buttons
        = submit_tag((t 'buttons.next'), class: "button")
