= content_for :title do
  3 of 9 (Population)

.question
  %h1.question--title= @population[:question_label]

  .question--answer

    = form_tag( { controller: 'water_basic', action: 'population' }, id: 'waterBasicForm' ) do

      .slider
        .slider--label= t 'form.water_basic.population.value_label'
        %input.slider--value{ :type => 'text', 'data-logarithmic' => 'true', :value => @population[:value].present? ? number_with_precision( @population[:value], :precision => 0, :locale => I18n.locale ) : 0 }
        .slider--widget
        %input{ :name => 'population', :type => 'hidden', :value => @population[:value].present? ? @population[:value] : 0, 'data-slider-input' => 'true' }

      .question--buttons
        = submit_tag((t 'buttons.next'), class: 'button')

.info_tab
  .info_tab--icon infoTab
  .info_tab--content
    %p.info_tab--content--text= t 'form.water_basic.population.info'
