- @title = "7 of 9 (Water Source)"
.row
  .large-12.columns
    .question= t 'form.water_basic.quantity.question'
    .caption= t 'form.water_basic.quantity.value_label'
.row
  .large-12.columns
    .choices-section
      = form_tag({controller: "water_basic", action: "quantity"}, class: "main_content", id: "waterBasicForm") do
        .select-container.quantity
          - @quantity[:choices].each_with_index do |choice, index|
            = label_tag(choice, nil, class: "#{@quantity[:class]}-#{index}") do
              = radio_button_tag('quantity', index, index == @quantity[:value], id: choice)
              %span= t "form.water_basic.quantity.answers.a#{index}"
        .action
          = submit_tag((t 'buttons.next'), class: "button button-basic-questionnaire")
