<% @title = "9 of 9 (Reliability)" %>

    <h1>
      <%= t 'form.water_basic.reliability.question' %>
    </h1>

    <%= form_tag({controller: "water_basic", action: "reliability"}, class: "main_content", id: "waterBasicForm") do %>
      <ul class="reliabilityInput">
        <li>
          <%= label_tag("worksAll", nil, class: "tickCheckBox") do %>
            <span><%= t 'form.water_basic.reliability.answers.a0' %></span>
            <%= radio_button_tag("r_reliability", 0, 0 == flash[:reliability], id: "worksAll") %>
          <% end %>
        </li>
        <li>
          <%= label_tag("worksMostly", nil, class: "tickCheckBox relia_01") do %>
            <span><%= t 'form.water_basic.reliability.answers.a1' %></span>
            <%= radio_button_tag("r_reliability", 1, 1 == flash[:reliability], id: "worksMostly") %>
          <% end %>
        </li>
        <li>
          <%= label_tag("breakDown", nil, class: "tickCheckBox relia_02") do %>
            <span><%= t 'form.water_basic.reliability.answers.a2' %></span>
            <%= radio_button_tag("r_reliability", 2, 2 == flash[:reliability], id: "breakDown") %>
          <% end %>
        </li>
        <li>
          <%= label_tag("notWorking", nil, class: "tickCheckBox relia_03") do %>
            <span><%= t 'form.water_basic.reliability.answers.a3' %></span>
            <%= radio_button_tag("r_reliability", 3, 3 == flash[:reliability], id: "notWorking") %>
          <% end %>
        </li>
      </ul>

        <input type="hidden" name="reliability"/>
        <%= submit_tag((t 'buttons.complete'), class: "next_button") %>

    <% end %>
