- @title = "9 of 9 (Reliability)"
%h1.basic_tool_header_item
  = t 'form.water_basic.reliability.question'
= form_tag({controller: "water_basic", action: "reliability"}, class: "main_content", id: "waterBasicForm") do
  %ul.reliabilityInput
    %li
      = label_tag("worksAll", nil, class: "") do
        %span= t 'form.water_basic.reliability.answers.a0'
        = radio_button_tag("reliability", 0, 0 == flash[:reliability], id: "worksAll")
    %li
      = label_tag("worksMostly", nil, class: "") do
        %span= t 'form.water_basic.reliability.answers.a1'
        = radio_button_tag("reliability", 1, 1 == flash[:reliability], id: "worksMostly")
    %li
      = label_tag("breakDown", nil, class: "") do
        %span= t 'form.water_basic.reliability.answers.a2'
        = radio_button_tag("reliability", 2, 2 == flash[:reliability], id: "breakDown")
    %li
      = label_tag("notWorking", nil, class: "") do
        %span= t 'form.water_basic.reliability.answers.a3'
        = radio_button_tag("reliability", 3, 3 == flash[:reliability], id: "notWorking")
  = submit_tag((t 'buttons.complete'), class: "next_button")
