.report
  .primary-section
    .row
      .large-4.large-offset-4.columns.header
        = t('report.water_final_report')
      .large-4.columns.cross
        = ">> #{t('report.cross_to_sanitation')}"
    .row
      .large-12.columns.title
        = t('report.summmary')
    .row
      .large-3.large-offset-3.columns.total_cost
        .title
          = t('report.total_cost')
        .value
          ="US$ #{number_with_delimiter(flash[:results][:total], :delimiter=>',')}"
        .caption
          = t('report.caption_total_cost', population: flash[:results][:population])
      .large-3.columns.level_of_service
        .title
          = t('report.level_of_service')
        .rating{class: "level-start-#{flash[:results][:service_rating] + 1}"}
        .caption
          = t('report.substandard')
      .large-3.columns
    .row
      .large-6.large-offset-3.columns.result
        .icon{:class => "bench-icon-#{flash[:results][:cost_rating]}"}
        .caption
          = flash[:results][:cost_rating_label].html_safe
        .review
          .section-container.section-review{"data-section" => "accordion"}
            %section
              %p.title.title-review{"data-section-title" => ""}
                %a{:href => "#section-review"}= "#{t('report.full_review')} >>"
              .content.content-review{"data-section-content" => "", "data-slug" => "section-review"}
                %p= simple_format flash[:results][:service_level]
  .content-section.context
    .row
      .large-12.columns
        .title
          = t('report.context');
    .row
      .large-4.columns
        .box-report
          .edit
      .large-4.columns
        .box-report
          .edit
      .large-4.columns
        .box-report
          .edit










