<% @title = "6 of 9 (Time)" %>

<h1>
  <%= t 'form.water_basic.time.question' %>
</h1>

<%= form_tag({controller: "water_basic", action: "time"}, class: "main_content", id: "waterBasicForm") do %>

  <div class="choices">
    <div class="value">
      <div class="choiceTime">
          <img src="/assets/waterBasicTimeHouse8.png" alt="house" />
          <div id="timeValue" class="valueOutput"><%= t 'form.water_basic.time.answers.a0' %></div>
          <img class="imgTime" src="/assets/waterBasicTimeWaterDrop8.png" alt="house" />
          <div class="valueLabel"><%= t 'form.water_basic.time.value_label' %></div>
      </div>
    </div>
    <div id="timeSlider"></div>
  </div>

    <input type="hidden" name="time"/>
  <%= submit_tag((t 'buttons.next'), class: "next_button") %>
    <a class="skip" href="./quantity">skip this question</a>
<% end %>