- @title = "6 of 9 (Access)"
%h1.basic_tool_header_item
  = t 'form.water_basic.time.question'
= form_tag({controller: "water_basic", action: "time"}, class: "main_content", id: "waterBasicForm") do
  .choices
    .value
      .valueLabel= t 'form.water_basic.time.value_label'
      .choiceTime
        %img{:alt => "house", :src => "/assets/waterBasicTimeHouse8.png"}
        #timeValue.valueOutput{'data-slider_value' => @time.present? ? @time : 0} #{t 'form.water_basic.time.answers.a0'}
      %img.imgTime{:alt => "house", :src => "/assets/waterBasicTimeWaterDrop8.png"}
  #timeSlider.slider-container
    .test-cursor
  %input{:name => "time", :type => "hidden"}
  = submit_tag((t 'buttons.next'), class: "next_button")
