= content_for :title do
  2 of 9 (Water Source)

.question
  %h1.question--title= t 'form.water_basic.water.question'

  .question--answer

    = form_tag( { controller: 'water_basic', action: 'water' }, class: 'main_content', id: 'waterBasicForm' ) do
      %input{ 'data-target' => 'water', :name => 'target-select', :type => 'hidden' }

      .question--radios
        - @water[:choices].each_with_index do |choice, index|
          = label_tag( choice, nil, class: "question--radios--label" ) do
            = radio_button_tag( 'water', index, index == @water[:value], id: choice, :class => 'question--radios--radio' )
            %span.question--checked_icon
            %span{ :class => "question--radios--icon icon--tool-#{choice}" }
            %span.question--radios--text= t "form.water_basic.water.answers.a#{index}"

      .question--buttons
        = submit_tag((t 'buttons.next'), class: 'button button-basic-questionnaire')

.info_tab
  .info_tab--icon infoTab
  .info_tab--content
    %h3
    %p
