.row
  .large-10.large-offset-1.columns
    %br
    .title= t('report.save_your_report')
    %br
  .large-10.large-offset-1.columns
    .form-save
      = simple_form_for @questionnaire, url: save_basic_reports_path, remote: true do |f|
        = f.input :title, input_html: {size: 35}, label: false
        = f.input :tool_name, as: :hidden, input_html: {value: tool_name}
        .actions
          = f.submit 'Save', name: 'commit', class: 'small button button-landing-page'
  .large-1.columns
