= content_for :title do
  4 of 9 (Capital Expenditure)

.question
  %h1.question--title= t 'form.shared.capital.question'

  .question--answer

    .question--answer--title Per person US$

    = form_tag basic_sanitation_action_url( I18n.locale, 'capital' ), id: 'sanitationBasicForm' do

      .slider
        %input.slider--value{ 'data-target' => 'capitalSlider', :value => @capital[:value] }
        .slider--widget.threshold-marks
        %input{ :type => 'hidden', :name => 'capital', 'data-slider-input' => 'true', 'data-slider-min' => @capital[:min_value], 'data-slider-max' => @capital[:max_value], 'data-slider-below' => @capital[:below_value], 'data-slider-above' => @capital[:above_value] }

        .slider--scale
          .slider--scale--point.slider--scale--point-min= "US$ #{@capital[:below_value]}"
          .slider--scale--point.slider--scale--point-max= "US$ #{@capital[:above_value]}"

      .question--buttons
        = submit_tag (t 'buttons.next'), class: 'button'

.info_tab
  .info_tab--icon
  .info_tab--container
    .info_tab--content
      %p.info_tab--content--text= t 'form.shared.capital.info'
