= content_for :title do
  Start - Basic Sanitation Calculator

.question
  %h1.question--title= t('basic.sanitation.questionnaire.country.question')

  .question--answer

    .question--image.icon--tool-globe

    = form_for @questionnaire, :url => basic_sanitation_update_url( I18n.locale, 'population' ), :html => { 'data-dynamic_form' => basic_sanitation_dynamic_update_url( I18n.locale ) } do |f|

      .choices-select
        = f.select :country, options_for_select( options_for_countries, @questionnaire.country ), { :include_blank => t( 'basic.shared.questionnaire.country.placeholder' ) }, { :class=>"chzn-select" }

      .question--buttons
        = submit_tag t( 'buttons.next' ), :class => 'button'

.info_tab
  .info_tab--icon
  .info_tab--container
    .info_tab--content
      %p.info_tab--content--text= raw format_info_text 'basic.sanitation.questionnaire.country.info'
