= content_for :title do
  2 of 9 (Population)

.question
  %h1.question--title= t 'form.sanitation_basic.population.question'

  .question--answer

    .question--answer--title= t 'form.sanitation_basic.population.value_label'

    = form_tag basic_sanitation_action_url( I18n.locale, 'population' ), id: 'sanitationBasicForm' do

      .slider
        %input.slider--value{ :type => 'text', :value => @population.present? ? number_with_precision( @population, :precision => 0, :locale => I18n.locale ) : 100 }
        .slider--widget
        %input{ :name => 'population', :type => 'hidden', :value => @population.present? ? @population : 100, 'data-slider-input' => 'true', 'data-logarithmic' => 'true', 'data-slider-min' => 100, 'data-slider-max' => 1000000 }

      .question--buttons
        = submit_tag((t 'buttons.next'), class: 'button')

.info_tab
  .info_tab--icon infoTab
  .info_tab--container
    .info_tab--content
      %p.info_tab--content--text= t 'form.sanitation_basic.population.info'
