= content_for :title do
  11 of 11 (Reliability)

.question
  %h1.question--title= t 'form.sanitation_basic.reliability.question'

  .question--answer

    = form_tag basic_sanitation_action_url( I18n.locale, 'reliability' ), id: 'sanitationBasicForm' do

      .question--radios
        - @reliability[:choices].each_with_index do |choice, index|
          = label_tag( choice, nil, class: "question--radios--label question--radios--label" ) do
            = radio_button_tag( 'reliability', index, index == @reliability[:value], id: choice, :class => 'question--radios--radio' )
            %span.question--checked_icon
            %span{ :class => "question--radios--icon icon--tool-#{choice}" }
            %span.question--radios--text= t "form.sanitation_basic.reliability.answers.a#{index}"

      .question--buttons
        = submit_tag((t 'buttons.next'), class: 'button')

