= content_for :title do
  Basic Sanitation Report

.report

  .report--header

    .report--header--pretitle= t( 'basic.sanitation.report.final_report' )
    %h1.report--header--title= t( 'report.summmary' )

    - if @questionnaire.service_reportable?
      .report--summary
        - if @questionnaire.reportable?
          .report--summary--item
            .report--summary--item--title= t( 'report.total_cost' )
            .report--summary--item--value= "#{report_dollar_currency_value_for(@questionnaire.total_cost, 2)}"
            .report--summary--item--caption= t( 'report.caption_total_cost', :population => report_integer_value_for( @questionnaire.population ) )

        .report--summary--item
          .report--summary--item--title= t( 'report.level_of_service' )
          .report--summary--item--rating
            - ( @questionnaire.service_rating + 1 ).times do
              .report--rating_icon.icon--star-full
            - ( 3 - @questionnaire.service_rating ).times do
              .report--rating_icon.icon--star-empty
          .report--summary--item--caption= sanitation_service_level_rating_label

      .report--summary--description
        .report--summary--description--icon{ :class => @questionnaire.cost_rating_inside_benchmarks? ? "icon--status-good" : "icon--status-bad" }
        .report--summary--description--caption= cost_rating_inside_benchmarks_label

      %section.report--review{ "data-togglecontent" => "true" }
        %a.report--review--link{ :href => '#', "data-togglecontent-link" => "true" }= "#{t('report.full_review')} >>"
        .report--review--content{ "data-togglecontent-content" => "report--review--content-visible" }
          .report--review--content--text= raw basic_sanitation_report_level_of_service

    - else
      .report--no_data= t('report.report_box_no_value')

  %section.report--section
    .report--section--title= t('report.context');

    .report--option_grid
      .report--option_grid--row

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.country' )
            %div{ :class => "icon--tool-#{'globe' unless @questionnaire.country == nil}" }
            .report--option_grid--item--caption= @questionnaire.country != nil ? Country.new( @questionnaire.country ).name : t( 'basic.shared.report.no_answer_provided' )
            = link_to 'Edit', basic_sanitation_action_path( I18n.locale, 'country' ), :class => 'report--option_grid--item--edit'

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.latrine_technology' )
            %div{ :class => "icon--tool-#{options_for_latrine_technologies[@questionnaire.latrine.to_i][0] unless @questionnaire.latrine == nil}" }
            .report--option_grid--item--caption= @questionnaire.latrine != nil ? t( "basic.sanitation.questionnaire.latrine.options.#{options_for_latrine_technologies[@questionnaire.latrine.to_i][0]}" ) : t( 'basic.shared.report.no_answer_provided' )
            = link_to 'Edit', basic_sanitation_action_path( I18n.locale, 'latrine' ), :class => 'report--option_grid--item--edit'

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.population' )
            %div{ :class => "icon--tool-#{'population' unless @questionnaire.population == nil}" }
            .report--option_grid--item--caption= @questionnaire.population != nil ? @questionnaire.population : t( 'basic.shared.report.no_answer_provided' )
            = link_to 'Edit', basic_sanitation_action_path( I18n.locale, 'population' ), :class => 'report--option_grid--item--edit'

  %section.report--section
    .report--section--title= t( 'report.cost' );
    - if basic_report_cost_available
      .report--section--subtitle= t( 'report.cost_subtitle', :population => @questionnaire.population || @questionnaire.minimum_population )

    - if basic_report_cost_available
      .report--chart{ 'data-chart-capital' => @questionnaire.capital_expenditure || 0, 'data-chart-recurrent' => @questionnaire.recurrent_expenditure || 0, 'data-chart-population' => @questionnaire.population || 0 }

    - else
      .report--no_data= t('report.cost_box_no_value')

    .report--costs

      .report--costs--column.report--costs--column-small
        .report--costs--title= t( 'basic.sanitation.report.sections.capital_expenditure_per_person' )
        .report--costs--detail
          .report--costs--detail--value= report_dollar_currency_value_for( @questionnaire.capital_expenditure )
          = link_to 'Edit', basic_sanitation_action_path( I18n.locale, 'capital_expenditure' ), :class => 'report--costs--detail--edit'

      .report--costs--column.report--costs--column-small
        .report--costs--title= t( 'basic.sanitation.report.sections.recurrent_expenditure_per_person' )
        .report--costs--detail
          .report--costs--detail--value= report_dollar_currency_value_for( @questionnaire.recurrent_expenditure )
          = link_to 'Edit', basic_sanitation_action_path( I18n.locale, 'recurrent_expenditure' ), :class => 'report--costs--detail--edit'

      .report--costs--column.report--costs--column-big
        .report--costs--title= t( 'report.total' )
        .report--costs--bigvalue= report_dollar_currency_value_for(@questionnaire.total_cost, 2)

  %section.report--section
    .report--section--title= t('report.service');
    / .report--section--subtitle= t('report.distance')

    .report--option_grid
      .report--option_grid--row

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.household_latrine' )
            %div{ :class => "icon--tool-#{options_for_household_latrines[@questionnaire.household_latrine.to_i][0] unless @questionnaire.household_latrine == nil}" }
            .report--option_grid--item--caption= @questionnaire.household_latrine != nil ? t( "basic.sanitation.questionnaire.household_latrine.options.#{options_for_household_latrines[@questionnaire.household_latrine.to_i][0]}" ) : t( 'basic.shared.report.no_answer_provided' )
            = link_to '', basic_sanitation_action_path( I18n.locale, 'household_latrine' ), :class => 'report--option_grid--item--edit'

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.impermeability' )
            %div{ :class => "icon--tool-#{options_for_latrine_impermeability[@questionnaire.impermeability.to_i][0] unless @questionnaire.impermeability == nil}" }
            .report--option_grid--item--caption= @questionnaire.impermeability != nil ? t( "basic.sanitation.questionnaire.impermeability.options.#{options_for_latrine_impermeability[@questionnaire.impermeability.to_i][0]}" ) : t( 'basic.shared.report.no_answer_provided' )
            = link_to '', basic_sanitation_action_path( I18n.locale, 'impermeability' ), :class => 'report--option_grid--item--edit'

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.environmental_impact' )
            %div{ :class => "icon--tool-#{options_for_latrine_environmental_impact[@questionnaire.environmental_impact.to_i][0] unless @questionnaire.environmental_impact == nil}" }
            .report--option_grid--item--caption= @questionnaire.environmental_impact != nil ? t( "basic.sanitation.questionnaire.environmental_impact.options.#{options_for_latrine_environmental_impact[@questionnaire.environmental_impact.to_i][0]}" ) : t( 'basic.shared.report.no_answer_provided' )
            = link_to '', basic_sanitation_action_path( I18n.locale, 'environmental_impact' ), :class => 'report--option_grid--item--edit'

      .report--option_grid--row

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.usage' )
            %div{ :class => "icon--tool-#{options_for_latrine_usage[@questionnaire.usage.to_i][0] unless @questionnaire.usage == nil}" }
            .report--option_grid--item--caption= @questionnaire.usage != nil ? t( "basic.sanitation.questionnaire.usage.options.#{options_for_latrine_usage[@questionnaire.usage.to_i][0]}" ) : t( 'basic.shared.report.no_answer_provided' )
            = link_to '', basic_sanitation_action_path( I18n.locale, 'usage' ), :class => 'report--option_grid--item--edit'

        .report--option_grid--item
          .report--option_grid--item--content
            .report--option_grid--item--title= t( 'basic.sanitation.report.sections.reliability' )
            %div{ :class => "icon--tool-#{options_for_latrine_reliability[@questionnaire.reliability.to_i][0] unless @questionnaire.reliability == nil}" }
            .report--option_grid--item--caption= @questionnaire.reliability != nil ? t( "basic.sanitation.questionnaire.reliability.options.#{options_for_latrine_reliability[@questionnaire.reliability.to_i][0]}" ) : t( 'basic.shared.report.no_answer_provided' )
            = link_to '', basic_sanitation_action_path( I18n.locale, 'reliability' ), :class => 'report--option_grid--item--edit'
