= content_for :title do
  Basic Report

.report

  .report--header

    .report--header--pretitle= t( 'basic.sanitation.report.final_report' )
    %h1.report--header--title= t( 'report.summmary' )
    = link_to basic_water_report_path, ">> #{t('report.cross_to_water')}", :class => 'report--header--quicklink'

    - if @questionnaire.reportable?
      .report--summary
        .report--summary--item
          .report--summary--item--title= t( 'report.total_cost' )
          .report--summary--item--value= "US$ #{number_with_delimiter(flash[:results][:total], :delimiter=>',')}"
          .report--summary--item--caption= t('report.caption_total_cost', population: flash[:results][:population])

        .report--summary--item
          .report--summary--item--title= t('report.level_of_service')
          .report--summary--item--rating
            - ( flash[:results][:service_rating] + 1 ).times do
              .report--rating_icon.icon--star-full
            - ( 3 - flash[:results][:service_rating] ).times do
              .report--rating_icon.icon--star-empty
          .report--summary--item--caption= t('report.substandard')

      .report--summary--description
        .report--summary--description--icon{ :class => flash[:results][:cost_rating] == 1 ? "icon--status-good" : "icon--status-bad" }
        .report--summary--description--caption= flash[:results][:cost_rating_label].html_safe

      %section.report--review{ "data-togglecontent" => "true" }
        %a.report--review--link{ :href => '#', "data-togglecontent-link" => "true" }= "#{t('report.full_review')} >>"
        .report--review--content{ "data-togglecontent-content" => "true" }
          .report--review--content--text= simple_format flash[:results][:service_level]

    - else
      .report--no_data= t('report.report_box_no_value')

  %section.report--section
    .report--section--title= t('report.context');

    .report--option_grid
      - flash[:results][:context_report].each_slice(3) do |box_by_row|
        .report--option_grid--row

          - box_by_row.each do |box|
            .report--option_grid--item
              .report--option_grid--item--content
                .report--option_grid--item--title= box[:title]
                %div{ :class => "icon--tool-#{box[:css_icon]}" }
                .report--option_grid--item--caption= box[:caption]
                = link_to 'Edit', box[:link], :class => 'report--option_grid--item--edit'


  %section.report--section
    .report--section--title= t('report.cost');
    .report--section--subtitle= t('report.cost_subtitle', population: flash[:results][:population])

    - if flash[:results][:is_cost_avaliable]
      .report--chart{ 'data-chart-capital' => flash[:results][:capital] || 0, 'data-chart-recurrent' => flash[:results][:recurrent] || 0, 'data-chart-population' => flash[:results][:population] || 0 }

      .report--costs
        - flash[:results][:cost_report].each do |cost_box|
          .report--costs--column.report--costs--column-small
            .report--costs--title= cost_box[:title]
            .report--costs--detail
              .report--costs--detail--value= cost_box[:value]
              = link_to 'Edit', cost_box[:link], :class => 'report--costs--detail--edit'

        .report--costs--column.report--costs--column-big
          .report--costs--title= t('report.total')
          .report--costs--bigvalue US #{number_to_currency(flash[:results][:total], precision: 2)}

    - else
      .report--no_data= t('report.cost_box_no_value')

  %section.report--section
    .report--section--title= t('report.service');
    .report--section--subtitle= t('report.distance')

    .report--option_grid
      - flash[:results][:service_report].each_slice(3) do |box_by_row|
        .report--option_grid--row

          - box_by_row.each do |box|
            .report--option_grid--item
              .report--option_grid--item--content
                .report--option_grid--item--title= box[:title]
                %div{ :class => "icon--tool-#{box[:css_icon]}" }
                .report--option_grid--item--caption= box[:caption]
                = link_to '', box[:link], :class => 'report--option_grid--item--edit'
