- content_for :content do
  .basic_tool
    = show_app_version
    = render 'layouts/basic/navigation'
    .main_content
      = yield

- content_for :footer do
  = render 'layouts/basic/footer'
:javascript
  window.I18n = #{I18n.backend.send(:translations).to_json.html_safe}

= render template: "layouts/application"
