<% @title = "4 of 9 (Capital Expenditure)" %>

<h1><%= t 'form.shared.capital.question' %></h1>
<%= form_tag({controller: "sanitation_basic", action: "capital"}, class: "main_content sanitation", id: "waterBasicForm") do %>


    <div class="choices capitalSlider">
      <div class="value">
        <div class="valueOutput"><span id="capitalValue">30</span>$</div>
        <div class="valueLabel">US$ Per person</div>
      </div>
      <div id="capitalSlider" data-slider_value=<%=@capital[:value]%>>
      </div>
      <ul class="labelScale">
        <li class="first">
          <span class="estimate">Below</span>
            <span class="numRounding"><%=@capital[:below_value]%></span>
        </li>
        <li class="last">
          <span class="estimate">Above</span>
          <span class="numRounding"><%=@capital[:above_value]%></span>
        </li>
      </ul>
    </div>

    <input type="hidden" name="capital" data-min-value=<%=@capital[:min_value]%>  data-max-value=<%=@capital[:max_value]%> />
    <%= submit_tag((t 'buttons.next'), class: "next_button") %>
<% end %>
