- @title = 'Start'
.row
  .large-12.columns
    .question= t 'form.shared.country.question'
.row
  .large-12.columns
    .choices-section.country
      .icon.text-center
        = image_tag 'world8.png', alt: 'Which country are we'
      = form_tag({controller: 'sanitation_basic', action: 'country'}, class: 'form-country', id: 'sanitationBasicForm') do
        .choices-select.text-center
          = select_tag 'country', options_for_select(get_countries, flash[:country_code]), :include_blank=>(t 'form.shared.country.placeholder'), :class=>'chzn-select', :tabindex => 1
        .action
          = submit_tag((t 'buttons.next'), class: 'button button-basic-questionnaire')
