<% @title = "2 of 9 (Household)" %>


<h1 class="basic_tool_header_item"><%= t 'form.sanitation_basic.household.question' %></h1>

<%= form_tag({controller: "sanitation_basic", action: "household"}, class: "main_content", id: "waterBasicForm") do %>

  <div class="choices">
    <div class="value">
      <div id="householdValue" class="valueOutput">1</div>
    </div>
    <div id="householdSlider" data-slider_value=<%=flash[:household]%> ></div>
  </div>

  <input type="hidden" name="household">
  <%= submit_tag((t 'buttons.next'), class: "next_button") %>
  <a class="skip" href="./latrine"><%= t 'form.skip' %></a>

<% end %>
