<% @title = "7 of 10 (Impermeability)" %>

<h1 class="basic_tool_header_item"><%= t 'form.sanitation_basic.impermeability.question' %></h1>
<%= form_tag({controller: "sanitation_basic", action: "impermeability"}, class: "main_content sanitation", id: "waterBasicForm") do %>

  <ul class="impermeabilityInput">
    <li>
      <%= label_tag("slab", nil, class: "tickCheckBox") do %>
        <%= radio_button_tag("r_impermeability", 0, 0 == flash[:impermeability], id: "slab") %>
        <span><%= t 'form.sanitation_basic.impermeability.answers.a0' %></span>
      <% end %>
    </li>
    <li>
      <%= label_tag("slabNo", nil, class: "tickCheckBox impermeability_01") do %>
        <%= radio_button_tag("r_impermeability", 1, 1 == flash[:impermeability], id: "slabNo") %>
        <span> <%= t 'form.sanitation_basic.impermeability.answers.a1' %></span>
      <% end %>
    </li>
  </ul>

  <input type="hidden" name="impermeability"/>

  <%= submit_tag((t 'buttons.next'), class: "next_button") %>

    <div class="infoTab">
      <a href="#" class="tab">infoTab</a>
      <div class="tabContent">
        <p><%= t 'form.sanitation_basic.impermeability.info' %></p>
      </div>
    </div>

<% end %>
