<% @title = "3 of 9 (Latrine Type)" %>

<h1><%= t 'form.sanitation_basic.latrine.question' %></h1>

<%= form_tag({controller: "sanitation_basic", action: "latrine"}, class: "main_content sanitation", id: "waterBasicForm") do %>

      <ul class="latrineInput">
        <li>
          <%= label_tag("traditional", nil, class: "tickCheckBox") do %>
            <%= radio_button_tag("r_latrine", 0, 0 == @latrine , id: "traditional") %>
            <span><%= t 'form.sanitation_basic.latrine.answers.a0' %></span>
          <% end %>
        </li>
        <li>
          <%= label_tag("improved", nil, class: "tickCheckBox latrine_01") do %>
            <%= radio_button_tag("r_latrine", 1, 1 == @latrine, id: "improved") %>
            <span><%= t 'form.sanitation_basic.latrine.answers.a1' %></span>
          <% end %>
        </li>
        <li>
          <%= label_tag("slab", nil, class: "tickCheckBox latrine_02") do %>
            <%= radio_button_tag("r_latrine", 2, 2 == @latrine, id: "slab") %>
            <span><%= t 'form.sanitation_basic.latrine.answers.a2' %></span>
          <% end %>
        </li>
        <li>
          <%= label_tag("vip", nil, class: "tickCheckBox  latrine_03") do %>
            <%= radio_button_tag("r_latrine", 3, 3 == @latrine, id: "vip") %>
            <span><%= t 'form.sanitation_basic.latrine.answers.a3' %></span>
          <% end %>
        </li>
        <li>
          <%= label_tag("flush", nil, class: "tickCheckBox  latrine_04") do %>
            <%= radio_button_tag("r_latrine", 4, 4 == @latrine, id: "flush") %>
            <span><%= t 'form.sanitation_basic.latrine.answers.a4' %></span>
          <% end %>
        </li>
        <li>
          <%= label_tag("septik", nil, class: "tickCheckBox latrine_05") do %>
            <%= radio_button_tag("r_latrine", 5, 5 == @latrine, id: "septik") %>
            <span><%= t 'form.sanitation_basic.latrine.answers.a5' %></span>
          <% end %>
        </li>
      </ul>

   <input type="hidden" name="latrine"/>
    <%= submit_tag("Next", class: "next_button") %>
    <a class="skip" href="capital"><%= t 'form.skip' %></a>
<% end %>
