- @title = '3 of 9 (Population)'
.row
  .large-12.columns
    .question= t 'form.sanitation_basic.population.question'
.row
  .large-12.columns
    .choices-section
      = form_tag({controller: 'sanitation_basic', action: 'population'}, class: 'main_content', id: 'sanitationBasicForm') do
        .slider-section
          .value
            .valueLabel.caption= t 'form.sanitation_basic.population.value_label'
            -##populationValue.valueOutput.slider-output 500
            .container-value
              = text_field_tag :text_field, 0, 'data-target' => 'populationSlider', 'data-logaritmic' => true, class: 'slider-output'
          #populationSlider.slider-container{'data-slider_value' => @population.present? ? @population : 0}
            .test-cursor
        %input{:name => 'population', :type => 'hidden'}
        .action
          = submit_tag((t 'buttons.next'), class: 'button button-basic-questionnaire')
.info-tab
  %a.tab{:href => '#'} infoTab
  .tab-content
    %h3
    %p= t 'form.sanitation_basic.population.info'

