<% @title = "6 of 10 (Providing)" %>

<h1><%= t 'form.sanitation_basic.providing.question' %></h1>
<%= form_tag({controller: "sanitation_basic", action: "providing"}, class: "main_content sanitation", id: "waterBasicForm") do %>


   <ul class="provideInput">
     <li>
       <%= label_tag("capitalYes", nil, class: "tickCheckBox") do %>
           <%= radio_button_tag("r_providing", 0, false, id: "capitalYes") %>
           <span><%= t 'form.shared.capital.answers.a0' %></span>
       <% end %>
     </li>
     <li>
       <%= label_tag("capitalNo", nil, class: "tickCheckBox provideInput_01") do %>
           <%= radio_button_tag("r_providing", 1, id: "capitalNo") %>
           <span><%= t 'form.shared.capital.answers.a1' %></span>
       <% end %>
     </li>
   </ul>

    <input type="hidden" name="providing"/>
    <%= submit_tag((t 'buttons.next'), class: "next_button") %>
    <a class="skip" href="#">skip this question</a>

<% end %>