<% @title = "5 of 9 (Recurrent Expenditure)" %>

<h1 class="basic_tool_header_item"><%= t 'form.sanitation_basic.recurrent.question' %></h1>

<%= form_tag({controller: "sanitation_basic", action: "recurrent"}, class: "main_content", id: "waterBasicForm") do %>

  <div class="choices washCostSlider">
    <div class="value">
      <div class="valueLabel">
        <%= t 'form.sanitation_basic.recurrent.value_label' %>
      </div>
      <div id="recurrentValue" class="valueOutput">3</div>


    </div>
    <div id="recurrentSlider" data-slider_value=<%=@recurrent[:value]%> ></div>
    <ul class="labelScale">
      <li class="first">
        <span class="numRounding"><%=@recurrent[:below_value]%></span>
      </li>
      <li class="last">
        <span class="numRounding"><%=@recurrent[:above_value]%></span>
      </li>
    </ul>
  </div>

  <input type="hidden" name="recurrent" data-min-value=<%=@recurrent[:min_value]%>  data-max-value=<%=@recurrent[:max_value]%> data-below-value=<%=@recurrent[:below_value]%> data-above-value=<%=@recurrent[:above_value]%> />
  <%= submit_tag((t 'buttons.next'), class: "next_button") %>

<% end %>
