- @title = '5 of 9 (Recurrent Expenditure)'
.row
  .large-12.columns
    .question= t 'form.shared.recurrent.question'
.row
  .large-12.columns
    .choices-section
      = form_tag({controller: 'sanitation_basic', action: 'recurrent'}, class: 'main_content', id: 'sanitationBasicForm') do
        .choices.slider-section
          .value
            .valueLabel.caption
              = t 'form.sanitation_basic.recurrent.value_label'
            .valueOutput.slider-output
              %span#recurrentValue 3
          #recurrentSlider.slider-container.threshold-marks{'data-slider_value' => @recurrent[:value]}
            .test-cursor
          %ul.labelScale
            %li.first
              %span= "US$ #{@recurrent[:below_value]}"
            %li.last
              %span= "US$ #{@recurrent[:above_value]}"
        = hidden_field_tag 'recurrent', nil, data: {min_value: @recurrent[:min_value], max_value: @recurrent[:max_value], below_value: @recurrent[:below_value], above_value: @recurrent[:above_value]}
        .action
          = submit_tag (t 'buttons.next'), class: 'button button-basic-questionnaire'
.infoTab
  %a.tab{:href => "#"} infoTab
  .tabContent
    %p= t 'form.shared.recurrent.info'

