<% @title = "10 of 10 (Reliability)" %>

<h1 class="basic_tool_header_item"><%= t 'form.sanitation_basic.reliability.question' %></h1>

<%= form_tag({controller: "sanitation_basic", action: "reliability"}, class: "main_content sanitation", id: "waterBasicForm") do %>

  <ul class="reliabilityInput">
    <li>
      <%= label_tag("reliYes", nil, class: "tickCheckBox") do %>
        <%= radio_button_tag("r_reliability", 0, 0 == flash[:reliability], id: "reliYes") %>
        <span><%= t 'form.sanitation_basic.reliability.answers.a0' %></span>
      <% end %>
    </li>
    <li>
      <%= label_tag("unreliable", nil, class: "tickCheckBox reliability_01") do %>
        <%= radio_button_tag("r_reliability", 1, 1 == flash[:reliability], id: "unreliable") %>
        <span><%= t 'form.sanitation_basic.reliability.answers.a1' %></span>
      <% end %>
    </li>
    <li>
      <%= label_tag("relyNot", nil, class: "tickCheckBox reliability_02") do %>
        <%= radio_button_tag("r_reliability", 2, 2 == flash[:reliability], id: "relyNot") %>
        <span><%= t 'form.sanitation_basic.reliability.answers.a2' %></span>
      <% end %>
    </li>
  </ul>

  <input type="hidden" name="reliability"/>
  <%= submit_tag((t 'buttons.complete'), class: "next_button") %>

<% end %>
