<% @title = "9 of 10 (Usage)" %>

<h1><%= t 'form.sanitation_basic.usage.question' %></h1>
<%= form_tag({controller: "sanitation_basic", action: "usage"}, class: "main_content sanitation", id: "waterBasicForm") do %>

  <ul class="usageInput">
    <li>
      <%= label_tag("all", nil, class: "tickCheckBox") do %>
        <%= radio_button_tag("r_usage", 0, false, id: "all") %>
        <span><%= t 'form.sanitation_basic.usage.answers.a0' %></span>
      <% end %>
    </li>
    <li>
      <%= label_tag("some", nil, class: "tickCheckBox usage_01") do %>
        <%= radio_button_tag("r_usage", 1, id: "some") %>
        <span><%= t 'form.sanitation_basic.usage.answers.a1' %></span>
      <% end %>
    </li>
    <li>
      <%= label_tag("none", nil, class: "tickCheckBox usage_02") do %>
        <%= radio_button_tag("r_usage", 2, id: "none") %>
        <span><%= t 'form.sanitation_basic.usage.answers.a2' %></span>
      <% end %>
    </li>
  </ul>

  <input type="hidden" name="usage" value="usage"/>
  <%= submit_tag("Next", class: "next_button") %>
  <a class="skip" href="./reliability"><%= t 'form.skip' %></a>

<% end %>