= content_for :title do
  10 of 11 (Usage)

.question
  %h1.question--title= t 'form.sanitation_basic.usage.question'

  .question--answer

    = form_tag( { controller: 'sanitation_basic', action: 'usage' }, id: 'sanitationBasicForm' ) do

      .question--radios
        - @usage[:choices].each_with_index do |choice, index|
          = label_tag( choice, nil, class: "question--radios--label question--radios--label-wide" ) do
            = radio_button_tag( 'usage', index, index == @usage[:value], id: choice, :class => 'question--radios--radio' )
            %span.question--checked_icon
            %span{ :class => "question--radios--icon icon--tool-#{choice}" }
            %span.question--radios--text= t "form.sanitation_basic.usage.answers.a#{index}"

      .question--buttons
        = submit_tag((t 'buttons.next'), class: 'button')




