.boxed_container.boxed_container-full_height
  .boxed_content
    .page_content

      = form_for @user, :url => password_path( :user ), :html => { :method => :put } do |f|
        = f.hidden_field :reset_password_token

        %h1.standalone_form--heading Change your password

        = render "devise/shared/messages"
        .standalone_form--message= devise_error_messages!

        .standalone_form--field.standalone_form--field-text
          = f.password_field :password, :placeholder => 'New password', :class => 'standalone_form--field--input standalone_form--field--input-text'

        .standalone_form--field.standalone_form--field-text
          = f.password_field :password_confirmation => 'Confirm new password', :class => 'standalone_form--field--input standalone_form--field--input-text'

        .standalone_form--footer
          .standalone_form--buttons
            = f.submit "Change my password", :class => 'button'
