%header.header
  .page_content
    .header--content

      = link_to calculators_path( I18n.locale ), class: 'header--logo' do
        = image_tag 'image-logo.png', class: 'header--logo--image', :alt => 'WASHCost powered by IRC', :width => 200, :height => 38

      %ul.header--links

        -#
          %li.header--links--item
            %a{ :href => "#", :class => "header--links--link" } About

          %li.header--links--item
            %a{ :href => "#", :class => "header--links--link" } Contact

        %li.header--links--item.header--links--item-dropdown
          %a{ :href => "#", :class => "header--links--link header--links--link-dropdown" } Language
          %ul.header--links--item--dropdown
            %li.header--links--item--dropdown--item
              = link_to 'English', calculators_path( 'en' ), :class => 'header--links--item--dropdown--link'
            %li.header--links--item--dropdown--item
              = link_to 'Français', calculators_path( 'fr' ), :class => 'header--links--item--dropdown--link'

        - if user_signed_in? && current_user
          %li.header--links--item
            = link_to current_user.name, dashboard_path, class: 'header--links--link header--links--link-special'
          %li.header--links--item
            = link_to 'Sign Out', destroy_user_session_path( I18n.locale ), method: :delete, class: 'header--links--link header--links--link-special'
        - else
          %li.header--links--item
            = link_to 'Sign In', new_user_session_path( I18n.locale ), class: 'header--links--link header--links--link-special'

