
<nav>
  <div class="navWrapper">
    <ul class="navigation">
      <li class="section context">
        <a href="/water_basic/country/" class="<%= get_main_nav_cssClass(:context, params[:action]) %>"><%= t 'nav.main.content.title' %></a>
      </li>
      <li  class="section cost">
        <a href="/water_basic/capital" class="<%= get_main_nav_cssClass(:cost, params[:action]) %>"><%= t 'nav.main.cost.title' %></a>
      </li>
      <li class="section service">
        <a href="/water_basic/quantity" class="<%= get_main_nav_cssClass(:service, params[:action]) %>"><%= t 'nav.main.service.title' %></a>
      </li>
      <li id="subnavigation">
        <ul id="navSled" style="left:<%= get_nav_offset %>px">
          <% get_nav_items[:context][:items].each do |key, value| %>
              <% active = get_class_for_section(:water_basic_form, key) %>
              <li>
                <a class="<%= active %>" href="/water_basic/<%= key %>">
                  <%= get_nav_items[:context][:items][key] %>
                </a>
              </li>
          <% end %>
          <% get_nav_items[:cost][:items].each do |key, value| %>
              <% active = get_class_for_section(:water_basic_form, key) %>
              <li>
                <a class="<%= active %>" href="/water_basic/<%= key %>">
                  <%= get_nav_items[:cost][:items][key] %>
                </a>
              </li>
          <% end %>
          <% get_nav_items[:service][:items].each do |key, value| %>
              <% active = get_class_for_section(:water_basic_form, key) %>
              <li>
                <a class="<%= active %>" href="/water_basic/<%= key %>">
                  <%= get_nav_items[:service][:items][key] %>
                </a>
              </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
  <div class="pag">
    <a class="pagPrev" href="#">prev</a>
    <a class="pagNext" href="#">next</a>
  </div>
</nav>

<script>

</script>