<% set_categories_for_navigation %>


<nav>
  <div class="navWrapper">
    <ul class="main">

      <li class="content">
        <a href="#" class="<%= is_active_category?('context_class') %>"><%= t 'nav.main.content.title' %></a>
        <ul>
          <% content_nav.each do |key, value| %>
              <% active = params[:action] == key ? "active" : "" %>
              <li>
                <a class="<%= active %>" href="<%= key %>">
                  <%= content_nav[key] %>
                </a>
              </li>
          <% end %>
        </ul>
      </li>

      <li class="cost">
        <a href="#" class="<%= is_active_category?('cost_class') %>"><%= t 'nav.main.cost.title' %></a>
        <ul>
          <% cost_nav.each do |key, value| %>
              <% active = params[:action] == key ? "active" : "" %>
              <li>
                <a class="<%= active %>" href="<%= key %>">
                  <%= cost_nav[key] %>
                </a>
              </li>
          <% end %>
        </ul>
      </li>

      <li class="service">
        <a href="#" class="<%= is_active_category?('cost_class') %>"><%= t 'nav.main.service.title' %></a>
        <ul>
          <% service_nav.each do |key, value| %>
              <% active = params[:action] == key ? "active" : "" %>
              <li>
                <a class="<%= active %>" href="<%= key %>">
                  <%= service_nav[key] %>
                </a>
              </li>
          <% end %>
        </ul>
      </li>


    </ul>
  </div>
  <div class="pag">
    <a class="pagPrev" href="#">prev</a>
    <a class="pagNext" href="#">next</a>
  </div>
</nav>