.boxed_container
  .boxed_content.page_content

    %h1.standalone_form--heading= t 'report.share_your_report'

    .share_report
      %a.share_report--link{ :href => "http://www.ircwash.org/projects/life-cycle-costing-tools?id=" + reports_load_path( I18n.locale, @report.id ) }= "http://www.ircwash.org/projects/life-cycle-costing-tools?id=" + reports_load_path( I18n.locale, @report.id )
      / = link_to "#{request.protocol}#{request.host_with_port}" + reports_load_path( I18n.locale, @report.id ), reports_load_path( I18n.locale, @report.id ), { :class => 'share_report--link' }

    .standalone_form--footer
      .standalone_form--buttons.standalone_form--buttons-centred
        = link_to t( 'report.back' ), @back_path, :class => 'button'
