.boxed_container
  .boxed_content.page_content.page_content-narrow

    .calculator_selection
      %h1.calculator_selection--title Do the math and make it last
      .calculator_selection--subtitle Do a sustainability check and get the personal report based on your service delivery model.
      .calculator_selection--subtitle Before you start, please answer these two question:



      = form_tag '/home/calculator', :method => 'post', class: 'calculator_selection--selector' do
        = hidden_field_tag 'selection[lang]', I18n.locale

        .calculator_selection--selector--container.calculator_selection--selector--container-type
          = label_tag( 'water_tool', 'name', :class => 'calculator_selection--selector--item' ) do
            = radio_button_tag( 'selection[tool_name]', '0', true, id: 'water_tool', :class => 'calculator_selection--selector--radio' )
            %span.calculator_selection--selector--checked_icon
            %span.calculator_selection--selector--icon.icon--tool-water_calculator
            %span.calculator_selection--selector--text Water


          = label_tag( 'sanitation_tool', 'name', :class => 'calculator_selection--selector--item' ) do
            = radio_button_tag( 'selection[tool_name]', '1', false, id: 'sanitation_tool', :class => 'calculator_selection--selector--radio' )
            %span.calculator_selection--selector--checked_icon
            %span.calculator_selection--selector--icon.icon--tool-water_calculator
            %span.calculator_selection--selector--text Sanitation

        .calculator_selection--selector--container.calculator_selection--selector--container-version
          = label_tag( 'basic_tool', nil, :class => 'calculator_selection--selector--item' ) do
            = radio_button_tag( 'selection[tool_type]', '0', true, id: 'basic_tool', :class => 'calculator_selection--selector--radio' )
            %span.calculator_selection--selector--checked_icon
            %span.calculator_selection--selector--icon.calculator_selection--selector--text Basic Tool

          = label_tag( 'advanced_tool', nil, :class => 'calculator_selection--selector--item' ) do
            = radio_button_tag( 'selection[tool_type]', '1', false, id: 'advanced_tool', :class => 'calculator_selection--selector--radio' )
            %span.calculator_selection--selector--checked_icon
            %span.calculator_selection--selector--icon.calculator_selection--selector--text Advanced Tool

        .calculator_selection--buttons
          = submit_tag t('buttons.start'), :class => 'button'

