
.toc-1 WASHCost
- if user_signed_in?
  = "Welcome #{current_user.first_name}"
  = link_to 'Sign Out', destroy_user_session_path, method: :delete
- else
  = link_to 'Sign In', new_user_session_path
  = link_to 'Register', new_user_registration_path

%a{:name => "Screens"}
.toc-2 Screens
.toc-3 Basic
.toc-item
  %a.toc-link{:href => "./water_basic"} Water
.toc-item
  %a.toc-link{:href => "./sanitation_basic"} Sanitation
.toc-3 Advanced
.toc-item
  %a.toc-link{:href => "./select_advanced/"} Water
.toc-item
  %a.toc-link{:href => "./select_advanced/"} Sanitation
