%footer.footer
  .page_content
    .footer--content

      = link_to t( 'buttons.view_report' ), controller_path == 'basic/water' ? basic_water_report_path( I18n.locale ) : basic_sanitation_report_path( I18n.locale ), :class => 'footer--link footer--link-report'

      .footer--progress
        .footer--progress--percentage= "#{t( controller_path == 'basic/water' ? "footer.water_basic" : "footer.sanitation_basic" )} (#{@questionnaire ? @questionnaire.complete : flash[:percent_complete]}%)"
        .footer--progress--bar
          .footer--progress--bar--fill{ :style => "width: #{@questionnaire ? @questionnaire.complete : flash[:percent_complete]}%" }

      = link_to t( 'buttons.save_report') , basic_report_questionnaire_path( tool_name: 'water' ), :class => "footer--link footer--link-save"
