%footer.footer
  .page_content
    .footer--content

      = link_to t( 'buttons.view_report' ), footer_report_url, :class => 'footer--link footer--link-report'

      .footer--progress
        .footer--progress--percentage
          = t( "footer.#{controller_path.match( /basic/ ) ? 'basic' : 'advanced'}.#{controller_path.match( /water/ ) ? 'water' : 'sanitation'}" )
          %span{ 'data-progress-label' => true }= "(#{@questionnaire.complete}%)"
        .footer--progress--bar
          .footer--progress--bar--fill{ :style => "width: #{@questionnaire.complete}%", 'data-progress-bar' => true }

      = link_to t( 'buttons.save_report') , footer_save_report_url, :class => "footer--link footer--link-save"
