%footer.footer
  .page_content
    .footer--content

      = link_to t( 'buttons.view_report' ), "/cal/#{controller_name}/report", :class => 'footer--link footer--link-report'

      .footer--progress
        .footer--progress--percentage= "#{t("footer.#{controller_name}")} (#{flash[:percent_complete]}%)"
        .footer--progress--bar
          .footer--progress--bar--fill{ :style => "width: #{flash[:percent_complete]}%" }

      = link_to t( 'buttons.save_report') , save_basic_reports_path( querier: 'link', tool_name: 'water' ), :remote => true, :class => "footer--link footer--link-save", method: :post
