%h1 Listing advanced_water_questionnaires

%table
  %tr
    %th Text
    %th
    %th
    %th

  - @advanced_water_questionnaires.each do |advanced_water_questionnaire|
    %tr
      %td= advanced_water_questionnaire.title
      %td= link_to 'Show', advanced_water_questionnaire
      %td= link_to 'Edit', edit_advanced_water_questionnaire_path(advanced_water_questionnaire)
      %td= link_to 'Destroy', advanced_water_questionnaire, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Questionnaire', new_advanced_water_questionnaire_path
