%p#notice= notice

%p
  %b Label:
  = @advanced_water_question_option.label
%p
  %b Class name:
  = @advanced_water_question_option.class_name

= link_to 'Edit', edit_advanced_water_question_option_path(@advanced_water_question_option)
\|
= link_to 'Back', advanced_water_question_options_path
