= simple_form_for @descriptor, url: save_advanced_reports_path do |f|

  = f.input :title
  = f.input :sanitation_service_type
  = f.input :country
  = f.input :region
  = f.input :city
  = f.input :area_type
  = f.input :population_density
  = f.input :service_management
  = f.input :service_financing
  = f.input :service_maintenance
  = f.input :service_standarization
  = f.input :service_costing
  = f.input :average_household_income
  = f.input :average_household_size
  .technology
    = f.fields_for :technologies do |t|
      .caption
        %h1 Tecnology
      = t.input :number_of_systems
      = t.input :expected_number_of_people
      = t.input :server_number_of_people
      = t.fields_for :water_source do |w|
        %h3 Water Source
        = w.input :source
        = w.input :primary_source
        = w.input :common_pump
        = w.input :storing
        = w.input :treating
        = w.input :supply
        = w.input :length
      = t.fields_for :costs do |c|
        %h3 Costs
        = c.fields_for :capital do |cc|
          %h4 Capital Costs
          = cc.input :hardware_total
          = cc.input :source
          = cc.input :pumping_facilities
          = cc.input :transmission
          = cc.input :distribution
          = cc.input :storage
          = cc.input :treatment
          = cc.input :other
          = cc.input :software_total
        = c.fields_for :recurrent do |rc|
          %h4 Recurrent Costs
          = rc.input :total
          = rc.input :salaries
          = rc.input :electricity
          = rc.input :material
          = rc.input :administration
          = rc.input :treatment
          = rc.input :other
          = rc.input :capital_maintenance_expenditure
          = rc.input :loan_cost
          = rc.input :loan_time
        = c.input :direct_support_spent
        = c.input :indirect_support_spent
  .service_level
    %h1 Service Levels
    = f.fields_for :service_levels do |s|
      %h3 Service Level
      = s.input :accesibility_distance
      = s.input :accesibility_queues
      = s.input :accesibility_norms
      = s.input :quantity_use
      = s.input :quantity_norms
      = s.input :quality_testing
      = s.input :quality_norms
      = s.input :reliability
      = s.input :reliability_norms
      = s.input :percentage_using
  = f.submit 'save', name: 'commit'
