.advanced-fictitius-report
  %h1 Adavanced Report (Simple Format)
  .caption
    just for checking calculation process
  %br
  .context-section
    %p
      Title:
      = @presenter.title
    %p
      Country:
      = @presenter.country
  .cost-section
    - @presenter.technologies.each_with_index do |technology, index|
      %h4 Technology #{index}
      %p
        Average system size:
        = technology.average_system_size
      %p
        Total percentage served design:
        = technology.total_percentage_served_design
      %p
        Total percentage served actual:
        = technology.total_percentage_served_actual
      .capital
        %h5 Capital Expenditure
        %p
          Total Cost:
          = technology.costs.capital.expenditures[:total]
        %p
          Cost per system:
          = technology.costs.capital.expenditures[:per_system]
        %p
          Cost per design population:
          = technology.costs.capital.expenditures[:per_design_population]
        %p
          Cost per actual population:
          = technology.costs.capital.expenditures[:per_actual_population]

      .recurrent
        %h5 Recurrent Expenditure
        %h6 Operational Expenditure per Year
        %p
          Total Cost:
          = technology.costs.recurrent.operational_expenditure_per_year[:total]
        %p
          Cost per system:
          = technology.costs.recurrent.operational_expenditure_per_year[:per_system]
        %p
          Cost per design population:
          = technology.costs.recurrent.operational_expenditure_per_year[:per_design_population]
        %p
          Cost per actual population:
          = technology.costs.recurrent.operational_expenditure_per_year[:per_actual_population]
        %h6 Maintenance expenditure per Year
        %p
          Total Cost:
          = technology.costs.recurrent.maintenance_expenditure_per_year[:total]
        %p
          Cost per system:
          = technology.costs.recurrent.maintenance_expenditure_per_year[:per_system]
        %p
          Cost per design population:
          = technology.costs.recurrent.maintenance_expenditure_per_year[:per_design_population]
        %p
          Cost per actual population:
          = technology.costs.recurrent.maintenance_expenditure_per_year[:per_actual_population]
        %h6 Direct support per year
        %p
          Total Cost:
          = technology.costs.recurrent.direct_support_per_year[:total]
        %p
          Cost per system:
          = technology.costs.recurrent.direct_support_per_year[:per_system]
        %p
          Cost per design population:
          = technology.costs.recurrent.direct_support_per_year[:per_design_population]
        %p
          Cost per actual population:
          = technology.costs.recurrent.direct_support_per_year[:per_actual_population]
        %h6 Indirect support per year
        %p
          Total Cost:
          = technology.costs.recurrent.indirect_support_per_year[:total]
        %p
          Cost per system:
          = technology.costs.recurrent.indirect_support_per_year[:per_system]
        %p
          Cost per design population:
          = technology.costs.recurrent.indirect_support_per_year[:per_design_population]
        %p
          Cost per actual population:
          = technology.costs.recurrent.indirect_support_per_year[:per_actual_population]
        %h6 Loan
        %p
          Total Cost:
          = technology.costs.recurrent.loan_per_year[:total]
        %br
        %h6 Total Recurrent Expenditures
        %p
          Total Cost:
          = technology.costs.total_recurrent_cost_per_year[:total]
        %p
          Total Cost per system:
          = technology.costs.total_recurrent_cost_per_year[:per_system]
        %p
          Total Cost per design population:
          = technology.costs.total_recurrent_cost_per_year[:per_design_population]
        %p
          Total Cost per actual population:
          = technology.costs.total_recurrent_cost_per_year[:per_actual_population]

  .service-level-section
    - @presenter.service_levels.each_with_index do |service_level, index|
      %h4 Service Level #{index}
      %p
        Combined service level (WASHCost standards):
        = service_level.washcost_standard_caption
      %p
        Combined service level (National norms):
        = service_level.national_norm_caption
      %p
        Percentage population served:
        = service_level.percentage_population_served
