%h1 Listing advanced_water_question_option_groups

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @advanced_water_question_option_groups.each do |advanced_water_question_option_group|
    %tr
      %td= advanced_water_question_option_group.name
      %td= link_to 'Show', advanced_water_question_option_group
      %td= link_to 'Edit', edit_advanced_water_question_option_group_path(advanced_water_question_option_group)
      %td= link_to 'Destroy', advanced_water_question_option_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question option group', new_advanced_water_question_option_group_path
