= content_for :title do
  3 of 9 (Population) - Basic Water Calculator

.question
  %h1.question--title= @questionnaire.technology != nil ? t( 'basic.water.questionnaire.population.question', :technology => t( "basic.water.questionnaire.technology.answers.#{options_for_water_supply_technologies[@questionnaire.technology[1].to_i][0]}" ) ) : t( 'basic.water.questionnaire.population.default_question' )

  .question--answer

    .question--answer--title= t 'form.water_basic.population.value_label'

    = form_for @questionnaire, :url => basic_water_update_url( I18n.locale, 'capital_expenditure' ), :html => { 'data-dynamic_form' => basic_water_dynamic_update_url( I18n.locale ) } do |f|

      .slider
        %input.slider--value{ :type => 'text', :value => @questionnaire.population != nil ? number_with_precision( @questionnaire.population, :precision => 0, :locale => I18n.locale ) : 0 }
        .slider--widget
        = f.hidden_field :population, { 'data-slider-input' => 'true', 'data-logarithmic' => 'true', 'data-slider-min' => 100, 'data-slider-max' => 1000000 }

      .question--buttons
        = submit_tag((t 'buttons.next'), class: 'button')

.info_tab
  .info_tab--icon infoTab
  .info_tab--container
    .info_tab--content
      %p.info_tab--content--text= t 'form.water_basic.population.info'
