= content_for :title do
  7 of 9 (Water Source) - Basic Water Calculator

.question
  %h1.question--title= t 'basic.water.questionnaire.quantity.question'

  .question--answer

    .question--answer--title= t 'basic.water.questionnaire.quantity.label'

    = form_for @questionnaire, :url => basic_water_update_url( I18n.locale, 'quality' ), :html => { 'data-dynamic_form' => basic_water_dynamic_update_url( I18n.locale ) } do |f|

      .question--radios
        - options_for_water_quantities.each do |option|
          = f.label( "quantity_#{option[1]}", class: "question--radios--label" ) do
            = f.radio_button :quantity, option[1], :class => 'question--radios--radio'
            %span.question--checked_icon
            %span{ :class => "question--radios--icon icon--tool-#{option[0]}" }
            %span.question--radios--text= t "basic.water.questionnaire.quantity.options.#{option[0]}"

      .question--buttons
        = submit_tag t( 'buttons.next' ), :class => 'button'

.info_tab
  .info_tab--icon
  .info_tab--container
    .info_tab--content
      %p.info_tab--content--text= raw t 'basic.water.questionnaire.quantity.info'