= content_for :title do
  5 of 9 (Recurrent Expenditure) - Basic Water Calculator

.question
  %h1.question--title= t 'basic.shared.questionnaire.recurrent_expenditure.question'

  .question--answer

    .question--answer--title= t 'basic.share.usd_per_person_per_year'

    = form_for @questionnaire, :url => basic_water_update_url( I18n.locale, 'access' ), :html => { 'data-dynamic_form' => basic_water_dynamic_update_url( I18n.locale ) } do |f|

      .slider
        %input.slider--value{ 'data-target' => 'recurrentSlider', :value => @questionnaire.recurrent_expenditure != nil ? @questionnaire.recurrent_expenditure : 0 }
        .slider--widget.threshold-marks
        = f.hidden_field :recurrent_expenditure, { 'data-slider-input' => 'true', 'data-slider-min' => minimum_recurrent_expenditure_for_water, 'data-slider-max' => maximum_recurrent_expenditure_for_water, 'data-slider-below' => minimum_guidance_recurrent_expenditure_for_water, 'data-slider-above' => maximum_guidance_recurrent_expenditure_for_water }

        .slider--scale
          .slider--scale--point.slider--scale--point-min= "US$ #{minimum_guidance_recurrent_expenditure_for_water}"
          .slider--scale--point.slider--scale--point-max= "US$ #{maximum_guidance_recurrent_expenditure_for_water}"

      .question--buttons
        = submit_tag t( 'buttons.next' ), :class => 'button'

.info_tab
  .info_tab--icon infoTab
  .info_tab--container
    .info_tab--content
      %p.info_tab--content--text= t 'form.shared.recurrent.info'
