= content_for :title do
  2 of 9 (Technology) - Basic Water Calculator

.question
  %h1.question--title= t '.questrionnaire.technology.question'

  .question--answer

    = form_for @questionnaire, :url => basic_water_update_url( I18n.locale, 'population' ), :html => { 'data-dynamic_form' => basic_water_dynamic_update_url( I18n.locale ) } do |f|

      .question--radios
        - options_for_water_supply_technologies.each do |option|
          = f.label( "technology_#{option[1]}", class: "question--radios--label" ) do
            = f.radio_button( :technology, option[1], :class => 'question--radios--radio' )
            %span.question--checked_icon
            %span{ :class => "question--radios--icon icon--tool-#{option[0]}" }
            %span.question--radios--text= t( "basic.water.questionnaire.technology.options.#{option[0]}" )

      .question--buttons
        = submit_tag t( 'buttons.next' ), :class => 'button'

.info_tab
  .info_tab--icon
  .info_tab--container
    .info_tab--content
      %h3.info_tab--content--title
      %p.info_tab--content--text
