= content_for :title do
  6 of 9 (Access)

.question
  %h1.question--title= t 'form.water_basic.time.question'

  .question--answer

    .question--answer--title= t 'form.water_basic.time.value_label'

    = form_tag basic_water_action_url( I18n.locale, 'time' ), id: 'waterBasicForm' do

      .slider.slider-time
        %input.slider--value.slider--value-wide{ :type => 'text', :value => ( @time[:value].present? ? number_with_precision( @time[:value], :precision => 0, :locale => I18n.locale ) : 0 ), :readonly => 'true' }
        .slider--widget
        %input{ :name => 'time', :type => 'hidden', :value => @time[:value].present? ? @time[:value] : 0, 'data-slider-input' => 'true', 'data-slider-min' => 0, 'data-slider-max' => 3, 'data-slider-values' => '["Less than 10","Between 10 and 30","Between 30 and 60","More than 60"]' }

      .question--buttons
        = submit_tag((t 'buttons.next'), class: 'button')
