!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">
%html
  %head
    %title Wash Cost
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    "application", :media => :all
    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.main
    = show_debugger
    .main-container
      .popup_trigger
        = render 'layouts/popup_trigger'
      .row
        .large-12.columns
      %header
        = render 'layouts/navigation'
      .row
        .large-12.columns
          .row
            .large-12.columns
              = render 'layouts/messages'
          = content_for?(:content) ? yield(:content) : yield
          .washcost-popup
            .reveal-modal.notification.subscriber
              = render 'popups/subscriber'
              %a.close-reveal-modal.close ×
            .reveal-modal.report.save
              = render 'popups/basic/report/save_form'
              %a.close-reveal-modal.close ×
            .reveal-modal.report.confirmation
              = render 'popups/basic/report/save_confirmation'
              %a.close-reveal-modal.close ×
            - if Rails.env == 'development'&& File.exists?('app/views/popups/_debugger.html.haml')
              .reveal-modal.debugger
                = render 'popups/debugger'
                %a.close-reveal-modal.close ×
      #delta-resize
      .row
        .large-12.columns
      %footer= content_for?(:footer) ? yield(:footer) : render('layouts/footer')

