!!! 5
%html
  %head
    %title
      Wash Cost
      = content_for?( :title ) ? ' - ' : ''
      = yield :title

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    = stylesheet_link_tag    "application", :media => :all
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body

    = render 'shared/masthead'

    = render 'layouts/messages'

    = yield :content

    -#
      .washcost-popup
        .reveal-modal.notification.subscriber
          = render 'popups/subscriber'
          %a.close-reveal-modal.close ×
        .reveal-modal.report.save
          = render 'popups/basic/report/save_form'
          %a.close-reveal-modal.close ×
        .reveal-modal.report.confirmation
          = render 'popups/basic/report/save_confirmation'
          %a.close-reveal-modal.close ×
        .reveal-modal.session-container.sign_in
          .session{style: 'margin-botton: 10px;'}
            = render 'devise/sessions/sign_in_raw_form'
          %a.close-reveal-modal.close ×
        - if Rails.env == 'development'&& File.exists?('app/views/popups/_debugger.html.haml')
          .reveal-modal.debugger
            = render 'popups/debugger'
            %a.close-reveal-modal.close ×