= content_for :content do

  = render 'marketing/masthead'

  .boxed_container.boxed_container
    .boxed_content
      .page_content.page_content-narrow

        = yield

  = render 'marketing/footer'

  = show_app_version

= render template: "layouts/application"
