= content_for :content do

  = render 'landing/masthead'

  .boxed_container
    .boxed_content
      .page_content

        = yield

  = render 'landing/footer'

= render template: "layouts/application"
