= content_for :content do

  = render 'shared/masthead'

  = render 'shared/messages'

  .boxed_container
    .page_content

      = yield

  = render 'tool/report_footer'

= render template: "layouts/application"