<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-IE7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>WashCostApp - Start</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
  <%= javascript_include_tag "jquery-1.9.1", "jquery-ui-1.10.3.custom.min", "chosen.jquery", "db_water", "application", "modernizr", "water_basic" %>
  <%= stylesheet_link_tag "application", "report", :media => "all" %>

</head>
<body>
<div id="outer_container_report" class="bgGradient">

  <div class="header">
    <a href="#" class="logo">
      <img src="/assets/logoWashCost8.png" alt="WASHCost" />
    </a>
    <ul>
      <li><a href="#">about</a></li>
      <li><a href="#">contact</a></li>
      <li>
        <ul class="languageSwitcher">
          <li><a class="active" href="#">English</a></li>
          <li><a href="#">French</a></li>
        </ul>
      </li>
      <li><a class="sign" href="#">Sign in</a></li>
    </ul>
  </div>


  <div class="report">

    <section class="general">
      <h1>GENERAL FEEDBACK</h1>

      <dl>
        <div>
          <dt>General Sustainability</dt>
          <dd class="stars_1">Below Basic Sustainability</dd>
        </div>

        <div class="no_margin">
          <dt>Level of service</dt>
          <dd class="stars_3"><%=flash[:results][:service_level] %></dd>
        </div>
      </dl>
    </section>

    <hr/>

    <section class="content">
      <h2>CONTENT</h2>
      <dl>
        <div>
          <dt>Country</dt>
          <dd><%= flash[:results][:country].name %></dd>
          <a href="./country"><img src="/assets/report/icon_edit.png" /></a>
        </div>

        <div>
          <dt>Water Source</dt>
          <dd><%= flash[:results][:water]%></dd>
          <a href="./water"><img src="/assets/report/icon_edit.png" /></a>
        </div>

        <div class="no_margin">
          <dt>Population</dt>
          <dd><%= flash[:results][:population]%></dd>
          <a href="./population"><img src="/assets/report/icon_edit.png" /></a>
        </div>
      </dl>

    </section>
    <hr/>
    <section class="cost">
      <h2>COST DATA</h2>

      <div id="graph">
        <div class="explain">
          Cost on 10 years (for a population of 2000 people)
        </div>
        <img src="/assets/report/graph.png" style="display:inline-block"/>
      </div>

      <dl>
        <div>
          <dt>Capital Expenditure</dt>
          <dd class="country_0">$<%= flash[:results][:capital]%></dd>
        </div>
        <a href="./capital"><img src="/assets/report/icon_edit.png" /></a>

        <div>
          <dt>Recurrent Expenditure</dt>
          <dd class="household_0">$<%= flash[:results][:recurrent]%></dd>
        </div>
        <a href="./recurrent"><img src="/assets/report/icon_edit.png" /></a>

        <div>
          <dt>Total</dt>
          <dd class="total">$<%= flash[:results][:total]%></dd>
        </div>
      </dl>
    </section>
    <hr/>
    <section class="service">

      <h2>SERVICE</h2>

      <ul>
        <li class="distance">
          <div>
            <div class="distance_value"><%= flash[:results][:time]%></div>
            <%= t 'form.water_basic.time.value_label' %>
          </div>
        </li>
        <li class="row2">
          <div>Quantity</div>
          <div class="value"><%= flash[:results][:quantity]%></div>
        </li>
        <li class="row2">
          <div>Quality</div>
          <div class="value"><%= flash[:results][:quality]%></div>
        </li>
        <li class="row2">
          <div>Reliability</div>
          <div class="value"><%= flash[:results][:reliability]%></div>
        </li>
      </ul>
    </section>
  </div>
  <div style="height: 550px;">

  </div>
</div>
<footer>
  <div class="footerWrapper">
    <h2>Final Report</h2>
    <div class="progressBar">
      <div class="outerBar">
        <div class="innerBar" style="width:30%"></div>
        <p>30% Complete</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
