<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-IE7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>WashCostApp - Santiation Basic Report</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
  <%= javascript_include_tag "jquery-1.9.1", "jquery-ui-1.10.3.custom.min", "chosen.jquery", "db_water", "application", "modernizr", "water_basic" %>
  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>
<div id="outer_container_report" class="bgGradient">


  <%= render "shared/header" %>

  <div class="report sanitation">
    <section class="sectionHeading">
      <h1>Basic <span>Sanitation | Final report</span></h1>
    </section>
    <section class="general">
      <h2>Summary</h2>

      <div class="sectionWrapper">
        <% if flash[:results][:form_ready] == true %>
            <dl class="costService">
              <dt>Total Cost</dt>
              <dd class="sumaryCost">
                  <span class="sumaryTotal">
                    $<%= number_with_delimiter(flash[:results][:total], :delimiter=>',')%>
                  </span>
                  <span class="sumaryPeople">
                    For a population of <%=flash[:results][:population]%> people
                  </span>
                <span class="benchText benchIcon<%=flash[:results][:cost_rating]%>"><%=flash[:results][:cost_rating_label].html_safe%></span>
              </dd>
            </dl>
            <dl class="levelService">
              <dt>Level of Service</dt>
              <dd class="levelStar_<%= flash[:results][:service_rating] + 1 %>">
                <span><%= flash[:results][:service_label]%></span>
              </dd>
            </dl>
            <div class="review">
              <a class="readMore" href="#">Read full review</a>
              <div id="service_level_full">
                <p><%=flash[:results][:service_level] %></p>
              </div>
            </div>
        <% else %>
            <div class="errorNoData">
              <p><%= I18n.t 'form.not_ready.summary' %></p>
            </div>
        <% end %>
      </div>
    </section>

    <section class="content">
      <h2><%= t 'report.water_advanced.context.title' %></h2>
      <div class="sectionWrapper">
        <div>
          <dl>
            <dt>Country</dt>
            <dd class="countryResult">
              <img src="/assets/world8.png" alt="world country" />
              <span><%= flash[:results][:country] %></span>
            </dd>
          </dl>
          <a href="./country" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
        </div>
        <div class="populationResults">
          <dl>
            <dt>Population</dt>
            <dd class="result_01">
              <span><%= flash[:results][:population]%></span>
            </dd>
          </dl>
          <a href="./population" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
        </div>
        <div class="latrineResults">
          <dl>
            <dt>Latrine Type</dt>
            <dd class="latrine_0<%= flash[:results][:latrine_index]%>">
              <span><%= flash[:results][:latrine]%></span>
            </dd>
          </dl>
          <a href="./latrine" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
        </div>
      </div>
    </section>

    <section class="cost">
      <h2><%= t 'report.water_advanced.cost.title' %></h2>

      <% flash[:results][:form_ready]  %>
      <% if flash[:results][:form_ready] == true %>
          <h3>Cost on 10 years (for a population of 2000 people)</h3>

          <div id="graph">
            <div id="graphContent"></div>
          </div>

      <% else %>
          <div class="errorNoData">
              <p><%= I18n.t 'form.not_ready.cost' %></p>
          </div>
      <% end %>

      <div class="sectionWrapper">
        <div class="first">
          <dl>
            <dt class="quantity_cost_label">Capital Expenditure</dt>
            <dd class="country_0">U$<%= flash[:results][:capital]%></dd>
            <dt class="unity_quantity_cost_label">per person</dt>
          </dl>
          <a href="./capital" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
        </div>
        <div>
          <dl>
            <dt class="quantity_cost_label">Recurrent Expenditure</dt>
            <dd class="household_0">U$<%= flash[:results][:recurrent]%></dd>
            <dt class="unity_quantity_cost_label">per person</dt>
          </dl>
          <a href="./recurrent" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
        </div>
        <div class="last">
          <dl>
            <dt>Total</dt>
            <dd class="total">U$<%= number_with_delimiter(flash[:results][:total], :delimiter=>',')%></dd>
          </dl>
        </div>
      </div>
    </section>
    <section class="service">

      <h2>SERVICE</h2>
      <div class="sectionWrapper">
        <ul>
          <li class="rowQQR providing result_0<%= flash[:results][:providing_index]%>">
            <span class="label">Providing</span>
            <span class="value"><%= flash[:results][:providing]%></span>
            <a href="./providing" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
          </li>
          <li class="rowQQR impermeability result_0<%= flash[:results][:impermeability_index]%>">
            <span class="label">Permeability</span>
            <span class="value"><%= flash[:results][:impermeability]%></span>
            <a href="./impermeability" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
          </li>
          <li class="rowQQR enviroment result_0<%= flash[:results][:environment_index]%>">
            <span class="label">Environment</span>
            <span class="value"><%= flash[:results][:environment]%></span>
            <a href="./enviroment" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
          </li>
          <li class="rowQQR usage result_0<%= flash[:results][:usage_index]%>">
            <span class="label">Usage</span>
            <span class="value"><%= flash[:results][:usage]%></span>
            <a href="./usage" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
          </li>
          <li class="rowQQR reliability result_0<%= flash[:results][:reliability_index]%>">
            <span class="label">Reliability</span>
            <span class="value"><%= flash[:results][:reliability]%></span>
            <a href="./reliability" class="editAnchor"><img src="/assets/iconEdit24.png" alt="icon edit" /></a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<footer class="reportFooter">
  <div class="footerWrapper">
    <a href="#">Go to report page</a>
    <div class="progressBarWrapper">
      <h2><%= t 'footer.footer_layout_sanitation' %> <span><%= t 'footer.final_report' %></span></h2>
      <div class="progressBar">
        <div class="outerBar">
          <div class="innerBar" style="width:30%"></div>
          <p><%= flash[:percent_complete] %>% <%= t 'footer.complete' %></p>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>


<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type="text/javascript">
    function expenditureGraph() {

        var _C= <%= (flash[:results][:capital]|| 0) %>;
        var _R= <%= (flash[:results][:recurrent]|| 0) %>;
        var _P= <%= (flash[:results][:population]|| 0) %>;


        if(_C && _R){
            var data = new google.visualization.DataTable();


            data.addColumn('string', 'Year');
            data.addColumn('number', 'Expenditure');
            data.addColumn({type:'string', role:'annotation'}); // annotation role col.
            data.addColumn({type:'string', role:'annotationText'}); // annotationText col

            data.addRows([
                ['0',   _C, _C+'', 'You Spent '+_C+' Dollars Your first year'],
                ['1',   _R*_P, _R+'', _R+' Dollars is your recurring cost'],
                ['2',   _R*_P, null, null],
                ['3',   _R*_P, null, null],
                ['4',   _R*_P, null, null],
                ['5',   _R*_P, null, null],
                ['6',   _R*_P, null, null],
                ['7',   _R*_P, null, null],
                ['8',   _R*_P, null, null],
                ['9',  _R*_P, null, null]
            ]);

            // Create and draw the visualization.
            new google.visualization.LineChart(document.getElementById('graphContent')).
                    draw(data, {curveType: "none",
                        axisTitlesPosition: "out",
                        legend: { position: "none" },
                        width: 765, height: 260,
                        hAxis: { title: 'Year', titleTextStyle: { color: '#a6955f' }, textStyle: { color: '#a6955f' }, baselineColor: '#a6955f',
                          gridlines: {color: '#fff'} },
                        vAxis: { title: 'Expenditure', titleTextStyle: { color: '#a6955f' }, textStyle: { color: '#a6955f' }, baselineColor: '#a6955f', gridlines: {color: '#a6955f'}, maxValue: 50, format:'US$ #'},
                        backgroundColor: "transparent",
                        lineWidth: 5,
                        colors: ['#ACCD4B'],
                        'chartArea': {'width': '60%', 'height': '60%'}
                    }
            );
        }
    }


    google.setOnLoadCallback(expenditureGraph);

</script>
</html>
