<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-IE7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>WASHCostApp - Advanced</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

  <link href="/assets/chosen_water_advanced.css" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/water_advanced.css" media="all" rel="stylesheet" type="text/css">
  <script src="/assets/modernizr.js" type="text/javascript"></script>

</head>
<body>
<div class="wrapper">
<div class="header">
  <a href="#" class="logo">
    <img src="/assets/logoWashCost8.png" alt="WASHCost" />
  </a>
  <ul>
    <li><a href="#"><%= t 'nav.utility.about' %></a></li>
    <li><a href="#"><%= t 'nav.utility.contact' %></a></li>
    <li>
      <ul class="languageSwitcher">
        <li><a class="active" href="#">English</a></li>
        <li><a href="#">Français</a></li>
      </ul>
    </li>
    <li><a class="sign" href="#"><%= t 'nav.utility.sign_in' %></a></li>
  </ul>
  <nav>
    <div class="navWrapper">
      <ul>
        <li><a class="active" href="#"></a></li>
        <li><a href="#managing_section"><%= t 'nav.advanced.managing' %></a></li>
        <li><a href="#technology_section"><%= t 'nav.advanced.technology' %></a></li>
        <li><a href="#cost_section"><%= t 'nav.advanced.cost' %></a></li>
        <li><a href="#service_section"><%= t 'nav.advanced.service' %></a></li>
      </ul>
    </div>
  </nav>
</div>
<form class="bgGradient" action="/sanitation_advanced/report" method="post">

<input type="hidden" value="<%= flash[:type] %>" name="type"/>
<fieldset>
<div class="main">
<h1>Sanitation Advance Questionnaire</h1>
<legend>Advanced Questionnaire</legend>
<section class="context" id="context_section">

  <!-- ROW 1 -->
  <div class="grid">
    <label for="choiceCountry">1. <%= t 'form.advanced.shared.location.question' %></label>
    <%= select_tag "country",
                   options_for_select(get_countries, flash[:country_code]),
                   :include_blank=>(t 'form.advanced.shared.country.placeholder'),
                   :class=>"chzn-select", :tabindex=>1
    %>

    <div class="supplemental">
      <input type="text" name="region" placeholder="<%= t 'form.advanced.shared.region.placeholder' %>" value="<%= flash[:region] %>" class="supplemental"/>
      <input type="text" name="city" placeholder="<%= t 'form.advanced.shared.city.placeholder' %>" value="<%= flash[:city]%>" />
    </div>
  </div>

  <div class="grid odd">
    <label for="area_type">2. <%= t 'form.advanced.shared.area_type.question' %></label>

    <%= select_tag "area_type",
                   options_for_select([[(t 'form.advanced.shared.area_type.answers.a0'),0],
                                       [(t 'form.advanced.shared.area_type.answers.a1'),1],
                                       [(t 'form.advanced.shared.area_type.answers.a2'),2],
                                       [(t 'form.advanced.shared.area_type.answers.a3'),3]
                                      ], flash[:area_type]),
                   :include_blank=>(t 'form.advanced.shared.area_type.placeholder'),
                   :class=>"chzn-select", :tabindex=>2
    %>
    <div class="supplemental">
      <%= select_tag "density",
                     options_for_select([[(t 'form.advanced.shared.density.answers.a0'),0],
                                         [(t 'form.advanced.shared.density.answers.a1'),1],
                                         [(t 'form.advanced.shared.density.answers.a2'),2],
                                         [(t 'form.advanced.shared.density.answers.a3'),3]
                                        ], flash[:density]),
                     :include_blank=>(t 'form.advanced.shared.density.placeholder'),
                     :class=>"chzn-select", :tabindex=>5
      %>
    </div>
    <div class="input_shim_single"></div>
  </div>
</section>


<section class="managing">
  <!-- ROW 2 -->
  <div class="grid">
    <label for="how_managed">1. <%= t 'form.advanced.shared.management.how_managed.question' %></label>
    <%=
        select_tag "how_managed",
                   options_for_select([[(t 'form.advanced.shared.management.shared.answers.a0'),0],
                                       [(t 'form.advanced.shared.management.shared.answers.a1'),1],
                                       [(t 'form.advanced.shared.management.shared.answers.a2'),2],
                                       [(t 'form.advanced.shared.management.shared.answers.a3'),3],
                                       [(t 'form.advanced.shared.management.shared.answers.a4'),4],
                                       [(t 'form.advanced.shared.management.shared.answers.a5'),5],
                                       [(t 'form.advanced.shared.management.shared.answers.a6'),6],
                                       [(t 'form.advanced.shared.management.shared.answers.a7'),7]
                                      ], flash[:how_managed]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>6
    %>
  </div>
  <div class="grid odd">
    <label for="who_finances">2. <%= t 'form.advanced.shared.management.who_finances.question' %></label>
    <%=
        select_tag "who_finances",
                   options_for_select([[(t 'form.advanced.shared.management.shared.answers.a0'),0],
                                       [(t 'form.advanced.shared.management.shared.answers.a1'),1],
                                       [(t 'form.advanced.shared.management.shared.answers.a2'),2],
                                       [(t 'form.advanced.shared.management.shared.answers.a3'),3],
                                       [(t 'form.advanced.shared.management.shared.answers.a4'),4],
                                       [(t 'form.advanced.shared.management.shared.answers.a5'),5],
                                       [(t 'form.advanced.shared.management.shared.answers.a6'),6],
                                       [(t 'form.advanced.shared.management.shared.answers.a7'),7]
                                      ], flash[:who_finances]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>7
    %>
  </div>

  <!-- ROW 3 -->
  <div class="grid">
    <label for="who_owns">3. <%= t 'form.advanced.shared.management.who_owns.question' %></label>
    <%=
        select_tag "who_owns",
                   options_for_select([[(t 'form.advanced.shared.management.shared.answers.a0'),0],
                                       [(t 'form.advanced.shared.management.shared.answers.a1'),1],
                                       [(t 'form.advanced.shared.management.shared.answers.a2'),2],
                                       [(t 'form.advanced.shared.management.shared.answers.a3'),3],
                                       [(t 'form.advanced.shared.management.shared.answers.a4'),4],
                                       [(t 'form.advanced.shared.management.shared.answers.a5'),5],
                                       [(t 'form.advanced.shared.management.shared.answers.a6'),6],
                                       [(t 'form.advanced.shared.management.shared.answers.a7'),7]
                                      ], flash[:who_owns]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>8
    %>
  </div>
  <div class="grid odd">
    <label for="who_safeguards">4. <%= t 'form.advanced.shared.management.who_safeguards.question' %></label>
    <%=
        select_tag "who_safeguards",
                   options_for_select([[(t 'form.advanced.shared.management.shared.answers.a0'),0],
                                       [(t 'form.advanced.shared.management.shared.answers.a1'),1],
                                       [(t 'form.advanced.shared.management.shared.answers.a2'),2],
                                       [(t 'form.advanced.shared.management.shared.answers.a3'),3],
                                       [(t 'form.advanced.shared.management.shared.answers.a4'),4],
                                       [(t 'form.advanced.shared.management.shared.answers.a5'),5],
                                       [(t 'form.advanced.shared.management.shared.answers.a6'),6],
                                       [(t 'form.advanced.shared.management.shared.answers.a7'),7]
                                      ], flash[:who_safeguards]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>9
    %>
  </div>
  <div class="grid">
    <label for="who_enforces">5. <%= t 'form.advanced.shared.management.who_enforces.question' %></label>
    <%=
        select_tag "who_enforces",
                   options_for_select([[(t 'form.advanced.shared.management.shared.answers.a0'),0],
                                       [(t 'form.advanced.shared.management.shared.answers.a1'),1],
                                       [(t 'form.advanced.shared.management.shared.answers.a2'),2],
                                       [(t 'form.advanced.shared.management.shared.answers.a3'),3],
                                       [(t 'form.advanced.shared.management.shared.answers.a4'),4],
                                       [(t 'form.advanced.shared.management.shared.answers.a5'),5],
                                       [(t 'form.advanced.shared.management.shared.answers.a6'),6],
                                       [(t 'form.advanced.shared.management.shared.answers.a7'),7]
                                      ], flash[:who_enforces]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>9
    %>
  </div>
  <div class="grid odd">
    <label for="who_repairs">6. <%= t 'form.advanced.shared.management.who_repairs.question' %></label>
    <%=
        select_tag "who_repairs",
                   options_for_select([[(t 'form.advanced.shared.management.shared.answers.a0'),0],
                                       [(t 'form.advanced.shared.management.shared.answers.a1'),1],
                                       [(t 'form.advanced.shared.management.shared.answers.a2'),2],
                                       [(t 'form.advanced.shared.management.shared.answers.a3'),3],
                                       [(t 'form.advanced.shared.management.shared.answers.a4'),4],
                                       [(t 'form.advanced.shared.management.shared.answers.a5'),5],
                                       [(t 'form.advanced.shared.management.shared.answers.a6'),6],
                                       [(t 'form.advanced.shared.management.shared.answers.a7'),7]
                                      ], flash[:who_repairs]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>9
    %>
  </div>
  <div class="grid">
    <label for="annual_income">7. <%= t 'form.advanced.shared.annual_income.question' %></label>
    <input tabindex="10" name="annual_income" id="annual_income" type="number" placeholder="<%= t 'form.advanced.shared.annual_income.placeholder' %>" value="<%=flash[:annual_income]%>" min="0" max="10000" step="1">
  </div>
</section>

<!-- TECHNOLOGY -->
<section class="system" id="technology_section">
  <div class="grid">
    <label for="latrine_type">1. <%= t 'form.advanced.sanitation.latrine_type.question' %></label>
    <%=
        select_tag "latrine_type",
                   options_for_select([[(t 'form.advanced.sanitation.latrine_type.answers.a0'),0],
                                       [(t 'form.advanced.sanitation.latrine_type.answers.a1'),1],
                                       [(t 'form.advanced.sanitation.latrine_type.answers.a2'),2],
                                       [(t 'form.advanced.sanitation.latrine_type.answers.a3'),3],
                                       [(t 'form.advanced.sanitation.latrine_type.answers.a4'),4],
                                       [(t 'form.advanced.sanitation.latrine_type.answers.a5'),5],
                                       [(t 'form.advanced.sanitation.latrine_type.answers.a6'),6]
                                      ], flash[:latrine_type]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>10
    %>
  </div>

  <div class="grid odd">
    <label for="slab">2. <%= t 'form.advanced.sanitation.slab.question' %></label>
    <%=
        select_tag "slab",
                   options_for_select([[(t 'form.advanced.sanitation.slab.answers.a0'),0],
                                       [(t 'form.advanced.sanitation.slab.answers.a1'),1],
                                       [(t 'form.advanced.sanitation.slab.answers.a2'),2],
                                       [(t 'form.advanced.sanitation.slab.answers.a3'),3],
                                       [(t 'form.advanced.sanitation.slab.answers.a4'),4]
                                      ], flash[:slab]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>11
    %>
  </div>

  <div class="grid">
    <label for="ventilation">2. <%= t 'form.advanced.sanitation.ventilation.question' %></label>
    <%=
        select_tag "ventilation",
                   options_for_select([[(t 'global.no'),0],
                                       [(t 'global.yes'),1],
                                      ], flash[:ventilation]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>11
    %>
  </div>

  <div class="grid odd">
    <label for="lining">2. <%= t 'form.advanced.sanitation.lining.question' %></label>
    <%=
        select_tag "lining",
                   options_for_select([[(t 'form.advanced.sanitation.lining.answers.a0'),0],
                                       [(t 'form.advanced.sanitation.lining.answers.a1'),1],
                                       [(t 'form.advanced.sanitation.lining.answers.a2'),2],
                                       [(t 'form.advanced.sanitation.lining.answers.a3'),3],
                                       [(t 'form.advanced.sanitation.lining.answers.a4'),4]
                                      ], flash[:lining]),
           :include_blank=>(t 'form.shared.select_an_option'),
           :class=>"chzn-select", :tabindex=>11
    %>
  </div>

  <div class="grid">
    <label for="seal">2. <%= t 'form.advanced.sanitation.seal.question' %></label>
    <%=
        select_tag "seal",
                   options_for_select([[(t 'global.no'),0],
                                       [(t 'global.yes'),1],
                                      ], flash[:seal]),
                   :include_blank=>(t 'form.shared.select_an_option'),
                   :class=>"chzn-select", :tabindex=>11
    %>
  </div>


  <div class="grid odd">
    <label for="pit_count">7. <%= t 'form.advanced.sanitation.pit_count.question' %></label>
    <input tabindex="10" name="pit_count" id="pit_count" type="number" placeholder="Numeric" value="<%=flash[:pit_count]%>" min="0" max="10000" step="1">
  </div>

  <div class="grid">
    <label for="service_area">7. <%= t 'form.advanced.sanitation.service_area.question' %></label>
    <input tabindex="10" name="service_area" id="service_area" type="number" placeholder="Number of People" value="<%=flash[:service_area]%>" min="0" max="10000" step="1">
  </div>


  <div class="grid odd">
    <label for="latrine_count">7. <%= t 'form.advanced.sanitation.latrine_count.question' %></label>
    <input tabindex="10" name="latrine_count" id="latrine_count" type="number" placeholder="Numeric" value="<%=flash[:latrine_count]%>" min="0" max="10000" step="1">
  </div>


  <!--

  e Location of pit(s)	directly below, off-set, NA
  o Superstructure	bamboo/reed, corrugated iron, concrete, brick
  e Septic tank	Yes, No
    Connected to sewerage system	Yes, No
  e  Urine diversion system	Yes, No
     Sludge treatment	disposal to water, disposal to land, composting, other

  -->
</section>

<!-- COST -->
<section class="cost" id="cost_section">
  <div class="grid">
    <h2>1. <%= t 'form.advanced.shared.cost.hardware.question' %></h2>
    <ul>
      <li>
        <label for="hardware" class="hiddenLabel"><%= t 'form.advanced.shared.cost.hardware.question' %></label>
        <input type="number" name="hardware" value="<%= flash[:hardware] %>" id="cost_hardware" placeholder="<%= t 'form.advanced.shared.cost.shared.placeholder' %>" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="cost_hardware_alt_0">

          <%= check_box_tag("cost_hardware_alt_0", value = "1", checked = flash[:cost_hardware_alt_0]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a0' %>
        </label>
      </li>
      <li>
        <label class="checkBox" for="costNoApply">
          <%= check_box_tag("cost_hardware_alt_1", value = "1", checked = flash[:cost_hardware_alt_1]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a1' %>
        </label>
      </li>
    </ul>
  </div>
  <div class="grid odd">
    <h2>2. <%= t 'form.advanced.shared.cost.software.question' %></h2>
    <ul>
      <li>
        <label for="software" class="hiddenLabel"><%= t 'form.advanced.shared.cost.software.question' %></label>
        <input type="number" name="software" value="<%= flash[:cost_software] %>" id="cost_software" placeholder="<%= t 'form.advanced.shared.cost.shared.placeholder' %>" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="cost_software_alt_0">
          <%= check_box_tag("cost_software_alt_0", value = "1", checked = flash[:cost_software_alt_0]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a0' %>
        </label>
      </li>
      <li>
        <label class="checkBox" for="costNoApply">
          <%= check_box_tag("cost_software_alt_1", value = "1", checked = flash[:cost_software_alt_1]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a1' %>
        </label>
      </li>
    </ul>
  </div>
  <div class="grid">
    <h2>3. <%= t 'form.advanced.shared.cost.maintenance.question' %></h2>
    <ul>
      <li>
        <label for="maintenance" class="hiddenLabel"><%= t 'form.advanced.shared.cost.maintenance.question' %></label>
        <input type="number" name="maintenance" id="maintenance" value="<%= flash[:maintenance] %>" placeholder="<%= t 'form.advanced.shared.cost.shared.placeholder' %>" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="cost_maintenance_alt_0">
          <%= check_box_tag("cost_maintenance_alt_0", value = "1", checked = flash[:cost_maintenance_alt_0]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a0' %>
        </label>
      </li>
      <li>
        <label class="checkBox" for="costNoApply">
          <%= check_box_tag("cost_maintenance_alt_1", value = "1", checked = flash[:cost_maintenance_alt_1]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a1' %>
        </label>
      </li>
    </ul>
  </div>
  <div class="grid odd">
    <h2>4. <%= t 'form.advanced.shared.cost.direct.question' %></h2>
    <ul>
      <li>
        <label for="direct" class="hiddenLabel"><%= t 'form.advanced.shared.cost.direct.question' %></label>
        <input type="number" name="direct" id="direct" value="<%= flash[:direct] %>" placeholder="<%= t 'form.advanced.shared.cost.shared.placeholder' %>" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="cost_direct_alt_0">
          <%= check_box_tag("cost_direct_alt_0", value = "1", checked = flash[:cost_direct_alt_0]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a0' %>
        </label>
      </li>
      <li>
        <label class="checkBox" for="cost_direct_alt_1">
          <%= check_box_tag("cost_direct_alt_1", value = "1", checked = flash[:cost_direct_alt_1]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a1' %>
        </label>
      </li>
    </ul>
  </div>
  <div class="grid">
    <h2>5. <%= t 'form.advanced.shared.cost.indirect.question' %></h2>
    <ul>
      <li>
        <label for="indirect" class="hiddenLabel"><%= t 'form.advanced.shared.cost.indirect.question' %></label>
        <input type="number" name="indirect" id="indirect" value="<%= flash[:indirect] %>" placeholder="<%= t 'form.advanced.shared.cost.shared.placeholder' %>" min="1" max="999999999999" step="1">
      </li>
      <li>
        <label class="checkBox" for="cost_indirect_alt_0">
          <%= check_box_tag("cost_indirect_alt_0", value = "1", checked = flash[:cost_indirect_alt_0]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a0' %>
        </label>
      </li>
      <li>
        <label class="checkBox" for="costNoApply">
          <%= check_box_tag("cost_indirect_alt_1", value = "1", checked = flash[:cost_indirect_alt_1]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a1' %>
        </label>
      </li>
    </ul>
  </div>
  <div class="grid odd">
    <h2>7. <%= t 'form.advanced.shared.cost.loan.question' %></h2>
    <ul>
      <li>
        <label for="loan" class="hiddenLabel"><%= t 'form.advanced.shared.cost.loan.question' %></label>
        <input type="number" name="loan" id="loan" value="<%= flash[:loan] %>" placeholder="<%= t 'form.advanced.shared.cost.shared.placeholder' %>" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="cost_loan_alt_0">
          <%= check_box_tag("cost_loan_alt_0", value = "1", checked = flash[:cost_loan_alt_0]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a0' %>
        </label>
      </li>
      <li>
        <label class="checkBox" for="cost_loan_alt_1">
          <%= check_box_tag("cost_loan_alt_1", value = "1", checked = flash[:cost_loan_alt_1]) %>
          <%= t 'form.advanced.shared.cost.shared.answers.a1' %>
        </label>
      </li>
    </ul>
  </div>
  <div class="grid">
    <label for="payback">8. <%= t 'form.advanced.shared.cost.payback.question' %></label>
    <input id="payback" name="payback" value="<%=flash[:payback]%>" type="number" placeholder="<%= t 'form.advanced.shared.cost.payback.placeholder' %>" min="0" max="1000" step="1">
  </div>

</section>
<section class="service" id="service_section">

</section>
<button class="formButton" id="sendButton">Send</button>
</div>
<footer>
  <div class="footerWrapper">
    <h2><span>Advanced</span> Water | Final Report</h2>
    <div class="progressBar">
      <div class="outerBar">
        <div class="innerBar" style="width:30%"></div>
        <p>30% Complete</p>
      </div>
    </div>
    <ul>
      <li>
        <a href="#" class="formButton" id="saveButton">Save</a>
      </li>
      <li>
        <a href="#" class="formButton" id="shareButton">Share</a>
      </li>
    </ul>
  </div>
</footer>
</fieldset>
</form>
</div>
<script src="/assets/jquery-1.9.1.js" type="text/javascript"></script>
<script src="/assets/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/chosen.jquery.js" type="text/javascript"></script>
<script src="/assets/water_advanced.js" type="text/javascript"></script>
</body>
</html>
