<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-IE7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>WASHCostApp - Advanced Report - Water</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

  <link href="/assets/advanced/chosen_water_advanced.css" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/advanced/water_advanced.css" media="all" rel="stylesheet" type="text/css">
  <!--<script src="/assets/modernizr.js" type="text/javascript"></script>-->
  <%= javascript_include_tag "application-advanced" %>

</head>
<body>
<div class="advanced_tool">
<div class="wrapper">
<div class="header">
  <%= show_app_version %>
  <a href="#" class="logo">
    <img src="/assets/logoWashCost8.png" alt="WASHCost" />
  </a>
  <ul>
    <li><a href="#"><%= t 'nav.utility.about' %></a></li>
    <li><a href="#"><%= t 'nav.utility.contact' %></a></li>
    <li>
      <ul class="languageSwitcher">
        <li><a class="active" href="#">English</a></li>
        <li><a href="#">Français</a></li>
      </ul>
    </li>
    <li><a class="sign" href="#"><%= t 'nav.utility.sign_in' %></a></li>
  </ul>
  <nav>
    <div class="navWrapper">
      <ul>
        <li><a class="active" href="#"></a></li>
        <li><a href="#managing_section"><%= t 'nav.advanced.managing' %></a></li>
        <li><a href="#technology_section"><%= t 'nav.advanced.technology' %></a></li>
        <li><a href="#cost_section"><%= t 'nav.advanced.cost' %></a></li>
        <li><a href="#service_section"><%= t 'nav.advanced.service' %></a></li>
      </ul>
    </div>
  </nav>
</div>

<%= yield %>

</div>
</div>
<!--<script src="/assets/jquery-1.9.1.js" type="text/javascript"></script>-->
<!--<script src="/assets/jquery-ui-1.10.3.custom.min.js"></script>-->
<!--<script src="/assets/chosen.jquery.js" type="text/javascript"></script>-->
<!--<script src="/assets/water_advanced.js" type="text/javascript"></script>-->
</body>
</html>
