!!!
/[if lt IE 7] <html class="no-js lt-IE7" lang="en">
/[if IE 7] <html class="no-js ie7" lang="en">
/[if IE 8] <html class="no-js ie8" lang="en">
/[if IE 9] <html class="no-js ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    / test git pull automation
    %meta{:charset => "utf-8"}/
    %title
      WashCost Basic Calculator - #{@title}
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    = javascript_include_tag "application"
    = stylesheet_link_tag "smoothness/jquery-ui-1.10.3.custom", "chosen", "application", :media => "all"
  %body
    #outer_container.bgGradient
      = show_app_version
      = render "shared/header"
      = render "shared/nav_water"
      .mainContent
        = yield
    %footer
      .footerWrapper
        %a{:href => "./report"} Go to report page
        .progressBarWrapper
          %h2
            = t 'footer.footer_layout'
            %span= t 'footer.final_report'
          .progressBar
            .outerBar
              .innerBar{:style => "width:30%"}
              %p
                = flash[:percent_complete]
                #{t 'footer.complete'}
    :javascript
      window.I18n = #{I18n.backend.send(:translations).to_json.html_safe}