<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-IE7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>WashCostApp - Advances</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

  <link href="/assets/chosen_water_advanced.css" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/water_advanced.css" media="all" rel="stylesheet" type="text/css">
  <script src="/assets/modernizr.js" type="text/javascript"></script>

</head>
<body>
<div class="wrapper">
<div class="header">
  <a href="#" class="logo">
    <img src="/assets/logoWashCost8.png" alt="WASHCost" />
  </a>
  <ul>
    <li><a href="#">about</a></li>
    <li><a href="#">contact</a></li>
    <li>
      <ul class="languageSwitcher">
        <li><a class="active" href="#">English</a></li>
        <li><a href="#">French</a></li>
      </ul>
    </li>
    <li><a class="sign" href="#">Sign in</a></li>
  </ul>
  <nav>
    <div class="navWrapper">
      <ul>
        <li><a class="active" href="#">Context</a></li>
        <li><a href="#">Managing</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Cost</a></li>
        <li><a href="#">Service</a></li>
      </ul>
    </div>
  </nav>
</div>
<form class="bgGradient">
<fieldset>
<div class="main">
<h1>Water Advance Questionnaire</h1>
<legend>Advance Questionnaire</legend>
<section class="context">
  <div class="grid">
    <label for="choiceCountry">Country?</label>
    <select id="choiceCountry" data-placeholder="Select a country" class="chzn-select" tabindex="2">
      <%= render "shared/country_select_options"%>
    </select>
  </div>
  <div class="grid odd">
    <label for="areaType">Area type</label>
    <select id="areaType" data-placeholder="Select an area type" class="chzn-select" tabindex="2">
      <option value="1">Rural</option>
      <option value="2">Small-town</option>
      <option value="3">Peri-urban</option>
      <option value="4">Urban</option>
    </select>
  </div>
  <div class="grid">
    <label for="choiceService">Does this service existal already or is it planned?</label>
    <a class="iconTip" href="#">iconTip</a>
    <select id="choiceService" data-placeholder="Select an service" class="chzn-select" tabindex="2">
      <option value="1">Budgeted/Estimated</option>
      <option value="2">Real cost based on expenditure data</option>
    </select>
  </div>
  <div class="grid odd">
    <label for="desityArea">What is the population density of the service area?</label>
    <select id="desityArea" data-placeholder="Select an area type" class="chzn-select" tabindex="2">
      <option value="1">400+ pp/km2 (urban)</option>
      <option value="2">150-399 pp/km2 (intermediate)</option>
      <option value="3">&lt;150 pp/km2 (rural)</option>
      <option value="4">Don&#39;t know</option>
    </select>
    <a class="comentAnchor" href="#">Add a comment</a>
  </div>
</section>
<section class="managing">
  <div class="grid">
    <label for="choiceManaging"><%= t 'form.water_advanced.how_managed.question' %></label>
    <select id="choiceManaging" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.water_advanced.how_managed.answers.a0' %></option>
      <option value="1"><%= t 'form.water_advanced.how_managed.answers.a1' %></option>
      <option value="2"><%= t 'form.water_advanced.how_managed.answers.a2' %></option>
      <option value="3"><%= t 'form.water_advanced.how_managed.answers.a3' %></option>
      <option value="4"><%= t 'form.water_advanced.how_managed.answers.a4' %></option>
      <option value="5"><%= t 'form.water_advanced.how_managed.answers.a5' %></option>
      <option value="6"><%= t 'form.water_advanced.how_managed.answers.a6' %></option>
    </select>
  </div>
  <div class="grid odd">
    <label for="choiceSystem"><%= t 'form.water_advanced.who_finances.question' %></label>
    <select id="choiceSystem" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.shared.responsibility.answers.a0' %></option>
      <option value="1"><%= t 'form.shared.responsibility.answers.a1' %></option>
      <option value="2"><%= t 'form.shared.responsibility.answers.a2' %></option>
      <option value="3"><%= t 'form.shared.responsibility.answers.a3' %></option>
      <option value="4"><%= t 'form.shared.responsibility.answers.a4' %></option>
      <option value="5"><%= t 'form.shared.responsibility.answers.a5' %></option>
      <option value="6"><%= t 'form.shared.responsibility.answers.a6' %></option>
      <option value="7"><%= t 'form.shared.responsibility.answers.a7' %></option>
    </select>
  </div>
  <div class="grid">
    <label for="choiceInfra"><%= t 'form.water_advanced.who_owns.question' %></label>
    <select id="choiceInfra" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.shared.responsibility.answers.a0' %></option>
      <option value="1"><%= t 'form.shared.responsibility.answers.a1' %></option>
      <option value="2"><%= t 'form.shared.responsibility.answers.a2' %></option>
      <option value="3"><%= t 'form.shared.responsibility.answers.a3' %></option>
      <option value="4"><%= t 'form.shared.responsibility.answers.a4' %></option>
      <option value="5"><%= t 'form.shared.responsibility.answers.a5' %></option>
      <option value="6"><%= t 'form.shared.responsibility.answers.a6' %></option>
      <option value="7"><%= t 'form.shared.responsibility.answers.a7' %></option>
    </select>
  </div>
  <div class="grid odd">
    <label for="choiceMain"><%= t 'form.water_advanced.who_safeguards.question' %></label>
    <select id="choiceMain" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.shared.responsibility.answers.a0' %></option>
      <option value="1"><%= t 'form.shared.responsibility.answers.a1' %></option>
      <option value="2"><%= t 'form.shared.responsibility.answers.a2' %></option>
      <option value="3"><%= t 'form.shared.responsibility.answers.a3' %></option>
      <option value="4"><%= t 'form.shared.responsibility.answers.a4' %></option>
      <option value="5"><%= t 'form.shared.responsibility.answers.a5' %></option>
      <option value="6"><%= t 'form.shared.responsibility.answers.a6' %></option>
      <option value="7"><%= t 'form.shared.responsibility.answers.a7' %></option>
    </select>
  </div>
  <div class="grid">
    <label for="choiceStandard"><%= t 'form.water_advanced.who_enforces.question' %></label>
    <select id="choiceStandard" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.shared.responsibility.answers.a0' %></option>
      <option value="1"><%= t 'form.shared.responsibility.answers.a1' %></option>
      <option value="2"><%= t 'form.shared.responsibility.answers.a2' %></option>
      <option value="3"><%= t 'form.shared.responsibility.answers.a3' %></option>
      <option value="4"><%= t 'form.shared.responsibility.answers.a4' %></option>
      <option value="5"><%= t 'form.shared.responsibility.answers.a5' %></option>
      <option value="6"><%= t 'form.shared.responsibility.answers.a6' %></option>
      <option value="7"><%= t 'form.shared.responsibility.answers.a7' %></option>
    </select>
  </div>
  <div class="grid odd">
    <label for="choiceCost"><%= t 'form.water_advanced.who_repairs.question' %></label>
    <select id="choiceCost" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.shared.responsibility.answers.a0' %></option>
      <option value="1"><%= t 'form.shared.responsibility.answers.a1' %></option>
      <option value="2"><%= t 'form.shared.responsibility.answers.a2' %></option>
      <option value="3"><%= t 'form.shared.responsibility.answers.a3' %></option>
      <option value="4"><%= t 'form.shared.responsibility.answers.a4' %></option>
      <option value="5"><%= t 'form.shared.responsibility.answers.a5' %></option>
      <option value="6"><%= t 'form.shared.responsibility.answers.a6' %></option>
      <option value="7"><%= t 'form.shared.responsibility.answers.a7' %></option>
    </select>
  </div>
  <div class="grid">
    <label for="annualHousehold"><%= t 'form.water_advanced.annual_income.question' %></label>
    <input id="annualHousehold" type="number" placeholder="Numeric US$" min="0" max="10000" step="1">
  </div>
</section>
<section class="system">
  <div class="grid">
    <label for="choiceSupply"><%= t 'form.water_advanced.supply_system.question' %></label>
    <select id="choiceSupply"  data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.water_advanced.supply_system.answers.a0' %></option>
      <option value="1"><%= t 'form.water_advanced.supply_system.answers.a1' %></option>
      <option value="2"><%= t 'form.water_advanced.supply_system.answers.a2' %></option>
      <option value="3"><%= t 'form.water_advanced.supply_system.answers.a3' %></option>
      <option value="4"><%= t 'form.water_advanced.supply_system.answers.a4' %></option>
      <option value="5"><%= t 'form.water_advanced.supply_system.answers.a5' %></option>
      <option value="6"><%= t 'form.water_advanced.supply_system.answers.a6' %></option>
    </select>
  </div>
  <div class="grid odd">
    <label for="techApply"><%= t 'form.water_advanced.inauguration.question' %></label>
    <input type="number" id="techApply" placeholder="Year">
  </div>
  <div class="grid">
    <label for="choicesSource"><%= t 'form.water_advanced.water_sources.question' %></label>
    <select id="choicesSource" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.water_advanced.water_sources.answers.a0' %></option>
      <option value="1"><%= t 'form.water_advanced.water_sources.answers.a1' %></option>
      <option value="2"><%= t 'form.water_advanced.water_sources.answers.a2' %></option>
    </select>
  </div>
  <div class="grid odd">
    <label for="waterDefine"><%= t 'form.water_advanced.surface_water.question' %></label>
    <select id="waterDefine" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.water_advanced.surface_water.answers.a0' %></option>
      <option value="1"><%= t 'form.water_advanced.surface_water.answers.a1' %></option>
      <option value="2"><%= t 'form.water_advanced.surface_water.answers.a2' %></option>
      <option value="3"><%= t 'form.water_advanced.surface_water.answers.a3' %></option>
    </select>
  </div>
  <div class="grid">
    <label for="groundWater"><%= t 'form.water_advanced.ground_water.question' %></label>
    <select id="groundWater" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.water_advanced.ground_water.answers.a0' %></option>
      <option value="1"><%= t 'form.water_advanced.ground_water.answers.a1' %></option>
      <option value="2"><%= t 'form.water_advanced.ground_water.answers.a2' %></option>
      <option value="3"><%= t 'form.water_advanced.ground_water.answers.a3' %></option>
    </select>
  </div>
  <div class="grid odd">
    <label for="waterPump"><%= t 'form.water_advanced.drilled_well.question' %></label>
    <select id="waterPump" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.water_advanced.drilled_well.answers.a0' %></option>
      <option value="1"><%= t 'form.water_advanced.drilled_well.answers.a1' %></option>
    </select>
  </div>
  <div class="grid">
    <label for="waterStored"><%= t 'form.water_advanced.water_storage.question' %></label>
    <select id="waterStored" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option></option>
      <option value="0"><%= t 'form.water_advanced.water_storage.answers.a0' %></option>
      <option value="1"><%= t 'form.water_advanced.water_storage.answers.a1' %></option>
      <option value="2"><%= t 'form.water_advanced.water_storage.answers.a2' %></option>
      <option value="3"><%= t 'form.water_advanced.water_storage.answers.a3' %></option>
      <option value="4"><%= t 'form.water_advanced.water_storage.answers.a4' %></option>
      <option value="5"><%= t 'form.water_advanced.water_storage.answers.a5' %></option>
    </select>
  </div>
  <div class="grid odd">
    <label for="waterTreated">How is water treated?</label>
    <select id="waterTreated" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option value="1">no treatment</option>
      <option value="2">boiling</option>
      <option value="3">household filter</option>
      <option value="4">household chlorination</option>
      <option value="5">chlorination in piped system</option>
      <option value="6">water treatment works</option>
    </select>
  </div>
  <div class="grid">
    <label for="powerSupply">Main power supply?</label>
    <select id="powerSupply" data-placeholder="<%= t 'form.shared.select_an_option'%>" class="chzn-select" tabindex="2">
      <option value="1">no power</option>
      <option value="2">mains electricity</option>
      <option value="3">windmills</option>
      <option value="4">solar power systems</option>
      <option value="5">generator</option>
    </select>
  </div>
  <div class="grid odd">
    <label for="lengthKm">Length of transmission line (Km)?</label>
    <input id="lengthKm" type="number" placeholder="Km" min="0" max="10000" step="1">
  </div>
  <div class="grid">
    <label for="pipeSupplies">For piped supplies: Percentage population served by household connections and/or stand post?</label>
    <input id="pipeSupplies" type="number" placeholder="% Population" min="0" max="100" step="1">
  </div>
  <div class="notes">
    <p>* (Select all that are applicable to your service area. Once a box is selected they are given a counter to input the number of systems, and the number of people served by that system).</p>
    <p>** This will need to be completed for each technology group as defined in Q1</p>
  </div>
</section>
<section class="cost">
  <div class="grid">
    <h2>What has been/will be the total expenditure on capital expenditure (hardware)?</h2>
    <ul>
      <li>
        <label for="costHardware" class="hiddenLabel">capital expenditure US$ per person</label>
        <input type="number" id="costHardware" placeholder="Numeric (US$ per person)" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="costDontKnow">
          <input type="checkbox" id="costDontKnow">
          Don&#39;t know
        </label>
      </li>
      <li>
        <label class="checkBox" for="costNoApply">
          <input type="checkbox" id="costNoApply">
          Not aplicable
        </label>
      </li>
    </ul>
  </div>
  <div class="grid odd">
    <h2>What has been/will be the minor operation and maintenance expenditure?</h2>
    <ul>
      <li>
        <label for="costMaintenance" class="hiddenLabel">minor operation and maintainance expenditure US$ per person</label>
        <input type="number" id="costMaintenance" placeholder="Numeric (US$ per person)" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="mainDontKnow">
          <input type="checkbox" id="mainDontKnow">
          Don&#39;t know
        </label>
      </li>
      <li>
        <label class="checkBox" for="mainNoApply">
          <input type="checkbox" id="mainNoApply">
          Not aplicable
        </label>
      </li>
    </ul>
  </div>
  <div class="grid">
    <h2>What has been spent/will be spent on capital maintenance expenditure?</h2>
    <ul>
      <li>
        <label for="capitalMaintenance" class="hiddenLabel">spent/will on capital maintainance expenditure US$ per person</label>
        <input type="number" id="capitalMaintenance" placeholder="Numeric (US$ per person)" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="capitalDontKnow">
          <input type="checkbox" id="capitalDontKnow">
          Don&#39;t know
        </label>
      </li>
      <li>
        <label class="checkBox" for="capitalNoApply">
          <input type="checkbox" id="capitalNoApply">
          Not aplicable
        </label>
      </li>
    </ul>
  </div>
  <div class="grid odd">
    <h2>What has been spent/will be spent on expenditure on direct support?</h2>
    <ul>
      <li>
        <label for="capitalMaintenance" class="hiddenLabel">expenditure on direct support numeric US$ per person</label>
        <input type="number" id="capitalMaintenance" placeholder="Numeric (US$ per person)" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="supportDontKnow">
          <input type="checkbox" id="supportDontKnow">
          Don&#39;t know
        </label>
      </li>
      <li>
        <label class="checkBox" for="supportNoApply">
          <input type="checkbox" id="supportNoApply">
          Not aplicable
        </label>
      </li>
    </ul>
  </div>
  <div class="grid">
    <h2>What has been/will be the expenditure on indirect support?</h2>
    <ul>
      <li>
        <label for="indirectSupport" class="hiddenLabel">expenditure on indirect support numeric US$ per person</label>
        <input type="number" id="indirectSupport" placeholder="Numeric (US$ per person)" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="indirectDontKnow">
          <input type="checkbox" id="indiDontKnow">
          Don&#39;t know
        </label>
      </li>
      <li>
        <label class="checkBox" for="indirectNoApply">
          <input type="checkbox" id="indiNoApply">
          Not aplicable
        </label>
      </li>
    </ul>
  </div>
  <div class="grid odd">
    <h2>>What is the cost servicing any loans taken to fund the service?</h2>
    <ul>
      <li>
        <label for="fundService" class="hiddenLabel">loans taken to fund the service numeric US$ per person</label>
        <input type="number" id="fundService" placeholder="Numeric (US$ per person)" min="100" max="100000" step="1">
      </li>
      <li>
        <label class="checkBox" for="fundDontKnow">
          <input type="checkbox" id="fundDontKnow">
          Don&#39;t know
        </label>
      </li>
      <li>
        <label class="checkBox" for="fundNoApply">
          <input type="checkbox" id="fundNoApply">
          Not aplicable
        </label>
      </li>
    </ul>
  </div>
  <div class="grid">
    <label for="costLoan">What is the payback period on this loan?</label>
    <input id="costLoan" type="number" placeholder="Years" min="1940" max="2013" step="1">
  </div>
  <div class="notes">
    <p>*If the service is young (i.e. under 3 years) – we would not expect CapManEx to be very high. Below benchmark values for these schemes may not therefore be a problem.  I recommend that a) the CapManEx for &ldquo;young&rdquo; schemes are discounted from the benchmark calculations and b) a new set of responses are created for young schemes e.g.: &ldquo;Current expenditure on capital maintenance is below the benchmark ranges. This may be because the system has been recently constructed. In the coming years it is important to make sure more is budgeted for the major repair and replacement of system components.&rdquo;</p>
  </div>
</section>
<section class="service">
  <div class="grid">
    <label for="serviceLevel">What has been spent/will be spent on expenditure on direct support?</label>
    <input id="serviceLevel" type="number" placeholder="50%" min="0" max="100" step="1">
  </div>
  <div class="notes">
    <p>*At the moment, the working assumption is that services can only “qualify” to update the global benchmarks if at least 75% of users receive a basic level of service for each of the four water/sanitation service indicators.</p>
  </div>
</section>
<button class="formButton" id="sendButton">Send</button>
</div>
<footer>
  <div class="footerWrapper">
    <h2><span>Advance</span> Water | Final Report</h2>
    <div class="progressBar">
      <div class="outerBar">
        <div class="innerBar" style="width:30%"></div>
        <p>30% Complete</p>
      </div>
    </div>
    <button class="formButton" id="saveButton">Save</button>
  </div>
</footer>
</fieldset>
</form>
</div>
<script src="/assets/jquery-1.9.1.js" type="text/javascript"></script>
<script src="/assets/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/chosen.jquery.js" type="text/javascript"></script>
<script src="/assets/water_advanced.js" type="text/javascript"></script>
</body>
</html>
