<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-IE7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>WASHCost - Basic Report - Water</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
  <%= javascript_include_tag "jquery-1.9.1", "jquery-ui-1.10.3.custom.min", "chosen.jquery", "db_water", "application", "modernizr", "water_basic" %>
  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>
<div id="outer_container_report" class="bgGradient">

  <%= render "shared/header" %>

  <div class="report">
    <h1>Basic <span>Water | Final report</span></h1>
    <section class="general">
      <h2>Summary</h2>
      <div class="sectionWrapper">
        <dl class="costService">
          <dt>Total Cost</dt>
            <dd class="sumaryCost">
              <span class="sumaryTotal">
                $<%= number_with_delimiter(flash[:results][:total], :delimiter=>',')%>
              </span>
              <span class="sumaryPeople">
                For a population of <%=flash[:results][:population]%> people
              </span>
              <span class="benchText benchIcon<%=flash[:results][:cost_rating]%>">Below Benchmarks</span>
          </dd>
        </dl>
        <dl class="levelService">
            <dt>Level of Service</dt>
            <dd class="levelStar_<%= flash[:results][:rating] %>">
              <span><%= flash[:results][:rating_label]%>Sub-standard</span>
            </dd>
        </dl>
        <div class="review">
          <a class="readMore" href="#">Read full review</a>
          <div id="service_level_full">
            <p><%=flash[:results][:service_level] %></p>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <h2><%= t 'report.water_advanced.context.title' %></h2>
      <div class="sectionWrapper">
        <div>
          <dl>
            <dt>Country</dt>
            <dd class="countryResult">
              <img src="/assets/world8.png" alt="world country" />
              <span><%= flash[:results][:country] %></span>
            </dd>
          </dl>
          <a href="./country"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
        </div>
        <div class="waterResult">
          <dl>
            <dt>Water Source</dt>
            <dd class="result_01">
              <span><%= flash[:results][:water]%></span>
            </dd>
          </dl>
          <a href="./water"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
        </div>
        <div class="populationResults">
          <dl>
            <dt>Population</dt>
            <dd class="result_01">
              <span><%= flash[:results][:population]%></span>
            </dd>
          </dl>
          <a href="./population"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
        </div>
      </div>
    </section>

    <section class="cost">
      <h2><%= t 'report.water_advanced.cost.title' %></h2>
      <h3>Cost on 10 years (for a population of 2000 people)</h3>

      <div id="graph">
        <div id="graphContent"></div>
      </div>

      <div class="sectionWrapper">
        <div>
          <dl>
              <dt>Capital Expenditure</dt>
              <dd class="country_0">$<%= flash[:results][:capital]%></dd>
          </dl>
          <a href="./capital"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
        </div>
        <div>
          <dl>
             <dt>Recurrent Expenditure</dt>
            <dd class="household_0">$<%= flash[:results][:recurrent]%></dd>
          </dl>
          <a href="./recurrent"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
        </div>
        <div>
          <dl>
            <dt>Total</dt>
            <dd class="total">$<%= number_with_delimiter(flash[:results][:total], :delimiter=>',')%></dd>
          </dl>
        </div>
      </div>
    </section>
    <section class="service">

      <h2>SERVICE LEVEL</h2>

      <div class="sectionWrapper">
        <ul>
          <li class="distance">
            <span class="label">Distance</span>
            <span class="value"><%= flash[:results][:time]%></span>
            <a href="./time"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
          </li>
          <li class="rowQQR quantity result_0<%= flash[:results][:quantity_index]%>">
            <span class="label">Quantity</span>
            <span class="value quantity_0<%= flash[:results][:quantity_index]%>"><%= flash[:results][:quantity]%></span>
            <a href="./quantity"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
          </li>
          <li class="rowQQR quality result_0<%= flash[:results][:quality_index]%>">
            <span class="label quality_0<%= flash[:results][:quality_index]%>">Quality</span>
            <span class="value"><%= flash[:results][:quality]%></span>
            <a href="./quality"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
          </li>
          <li class="rowQQR reliability result_0<%= flash[:results][:reliability_index]%>">
            <span class="label quality_0<%= flash[:results][:reliability_index]%>">Reliability</span>
            <span class="value"><%= flash[:results][:reliability]%></span>
            <a href="./reliability"><img src="/assets/report/icon_edit.png" alt="icon edit" /></a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<footer>
  <div class="footerWrapper">
    <a href="#">Go to report page</a>
    <div class="progressBarWrapper">
      <h2><%= t 'footer.footer_layout' %> <span><%= t 'footer.final_report' %></span></h2>
      <div class="progressBar">
        <div class="outerBar">
          <div class="innerBar" style="width:30%"></div>
          <p><%= flash[:percent_complete] %>% <%= t 'footer.complete' %></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
</script>

<script type="text/javascript">
    function expenditureGraph() {

        var _C= <%= flash[:results][:capital]%>;
        var _R= <%= flash[:results][:recurrent]%>;

        var data = new google.visualization.DataTable();


        data.addColumn('string', 'Year');
        data.addColumn('number', 'Expenditure');
        data.addColumn({type:'string', role:'annotation'}); // annotation role col.
        data.addColumn({type:'string', role:'annotationText'}); // annotationText col

        data.addRows([
            ['YR1',   _C, _C+'', 'You Spent '+_C+' Dollars Your first year'],
            ['YR2',   _R, _R+'', _R+' Dollars is your recurring cost'],
            ['YR3',   _R, null, null],
            ['YR4',   _R, null, null],
            ['YR5',   _R, null, null],
            ['YR6',   _R, null, null],
            ['YR7',   _R, null, null],
            ['YR8',   _R, null, null],
            ['YR9',   _R, null, null],
            ['YR10',  _R, null, null]
        ]);

        // Create and draw the visualization.
        new google.visualization.LineChart(document.getElementById('graphContent')).
                draw(data, {curveType: "none",
                    legend: { position: "none" },
                    width: 765, height: 260,
                    hAxis: { textStyle: { color: '#fff' } },
                    vAxis: { textStyle: { color: 'transparent'},   baselineColor: 'transparent', gridlines: {color: 'transparent'} ,maxValue: 80},

                    backgroundColor: "transparent",
                    lineWidth: 5,
                    colors: ['#fff'],
                    'chartArea': { top: -3, 'width': '100%', 'height': '90%'}
                }
        );
    }

    google.setOnLoadCallback(expenditureGraph);

</script>

</body>
</html>
